{% extends '_partials/_base.html' %}
{% load static %}


{% block pagetitle %}Revisión de Laboratorios{% endblock %}

{% block breadcumbs %}

<li class="breadcrumb-item text-muted">
    <a href="" class="text-muted">Camino</a>
</li>
<li class="breadcrumb-item text-muted">
    <a href="" class="text-muted">a</a>
</li>
<li class="breadcrumb-item text-muted">
    <a href="" class="text-muted">su pagina</a>
</li>

{% endblock %}

{% block content %}

<div class="card card-custom">
    <br>
    <div class="h1" ALIGN="CENTER">Laboratorio: {{Room.room_name}}</div>
    <br>
    <div class=" col-12 text-center" style="margin-top: 3%; margin-bottom: 3%; ">
        <h1 class="card-title font-weight-bolder text-dark-75 text-hover-primary font-size-h4 m-0 pt-7 pb-1 " ></h1>
        <div class="co-10 border border-secondary rounded" style="margin-top: 1%; padding-bottom: 3%;">
        <div class=" d-flex flex-wrap justify-content-center" style="margin-top: 3%; ">
            {% for i in pcrev %}
            <div class="dflex flex-colum flex-center bd-highlight ">
                <div class="p-4 bd-highlight d-flex flex-column flex-center">
                    <a href="{% url 'updatepcreview' i.id %}" class="btn btn-light-warning d-inline-flex align-items-center btn-lg">
                        <div class="d-flex flex-column text-right pr-3">
                            <span class="text-dark-75 font-weight-bold font-size-sm">Revisado</span>
                            <span class="font-weight-bolder font-size-sm">{{i.name}}</span>
                        </div>
                        <span class="svg-icon svg-icon-primary svg-icon-2x"><svg xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <rect x="0" y="0" width="24" height="24" />
                                    <path
                                        d="M11,20 L11,17 C11,16.4477153 11.4477153,16 12,16 C12.5522847,16 13,16.4477153 13,17 L13,20 L15.5,20 C15.7761424,20 16,20.2238576 16,20.5 C16,20.7761424 15.7761424,21 15.5,21 L8.5,21 C8.22385763,21 8,20.7761424 8,20.5 C8,20.2238576 8.22385763,20 8.5,20 L11,20 Z"
                                        fill="#000000" opacity="0.3" />
                                    <path
                                        d="M3,5 L21,5 C21.5522847,5 22,5.44771525 22,6 L22,16 C22,16.5522847 21.5522847,17 21,17 L3,17 C2.44771525,17 2,16.5522847 2,16 L2,6 C2,5.44771525 2.44771525,5 3,5 Z M4.5,8 C4.22385763,8 4,8.22385763 4,8.5 C4,8.77614237 4.22385763,9 4.5,9 L13.5,9 C13.7761424,9 14,8.77614237 14,8.5 C14,8.22385763 13.7761424,8 13.5,8 L4.5,8 Z M4.5,10 C4.22385763,10 4,10.2238576 4,10.5 C4,10.7761424 4.22385763,11 4.5,11 L7.5,11 C7.77614237,11 8,10.7761424 8,10.5 C8,10.2238576 7.77614237,10 7.5,10 L4.5,10 Z"
                                        fill="#000000" />
                                </g>
                            </svg></span>
                
                    </a>
                </div>
                
            </div>
            
            {% endfor %}
            {% for i in pcnotrev %}
            <div class="dflex flex-colum flex-center bd-highlight ">
                <div class="p-4 bd-highlight d-flex flex-column flex-center">
                    <a href="{% url 'pcreview' i.id %}" class="btn btn-light-success d-inline-flex align-items-center btn-lg">
                        <div class="d-flex flex-column text-right pr-3">
                            <span class="text-dark-75 font-weight-bold font-size-sm">Revisar</span>
                            <span class="font-weight-bolder font-size-sm">{{i.name}}</span>
                        </div>
                        <span class="svg-icon svg-icon-primary svg-icon-2x"><svg xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <rect x="0" y="0" width="24" height="24" />
                                    <path
                                        d="M11,20 L11,17 C11,16.4477153 11.4477153,16 12,16 C12.5522847,16 13,16.4477153 13,17 L13,20 L15.5,20 C15.7761424,20 16,20.2238576 16,20.5 C16,20.7761424 15.7761424,21 15.5,21 L8.5,21 C8.22385763,21 8,20.7761424 8,20.5 C8,20.2238576 8.22385763,20 8.5,20 L11,20 Z"
                                        fill="#000000" opacity="0.3" />
                                    <path
                                        d="M3,5 L21,5 C21.5522847,5 22,5.44771525 22,6 L22,16 C22,16.5522847 21.5522847,17 21,17 L3,17 C2.44771525,17 2,16.5522847 2,16 L2,6 C2,5.44771525 2.44771525,5 3,5 Z M4.5,8 C4.22385763,8 4,8.22385763 4,8.5 C4,8.77614237 4.22385763,9 4.5,9 L13.5,9 C13.7761424,9 14,8.77614237 14,8.5 C14,8.22385763 13.7761424,8 13.5,8 L4.5,8 Z M4.5,10 C4.22385763,10 4,10.2238576 4,10.5 C4,10.7761424 4.22385763,11 4.5,11 L7.5,11 C7.77614237,11 8,10.7761424 8,10.5 C8,10.2238576 7.77614237,10 7.5,10 L4.5,10 Z"
                                        fill="#000000" />
                                </g>
                            </svg></span>
                
                    </a>
                </div>
                
            </div>
            
            {% endfor %}        
        </div>
        </div>
    </div>

    <div class="card-footer col-mg-2" ALIGN="CENTER">
    </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

{% endblock %}