{% load static %}
<title>Formulario de Reportes</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
<link href="{% static 'css/style.bundle.css' %}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="shortcut icon" href="{% static 'media/logos/favicon.ico' %}" />
{% block content %}
<style type="text/css">
  #container {
    display: block;
    position: relative
  }

  .ui-autocomplete {
    position: absolute;
    background-color: white !important;
  }
</style>

<div style="margin-left: auto; margin-right: auto;" class="card col-9  card-custom gutter-b example example-compact">
  <div class="card-header">
    <blockquote class="blockquote text-center">
      <br>
      <div class="h1">Reporta un equipo que no funciona correctamante</div>
    </blockquote>
    <img src="{% static 'media/monitoring/error.png' %}" ALIGN="RIGHT" width="120" height="100">
  </div>
  <form method="POST" name="myform" onsubmit="return validate_form();">
    <div class="form-group mb-8">
      <div class="alert alert-custom alert-default" role="alert">

        <div class="alert-text">
          <p ALIGN="justify">El fin que tiene este formulario, es informar a los encargados de los laboratorios cuando
            una estación de trabajo no funcione correctamente y así
            estos puedan en el menor tiempo posible corregirlo. Favor de llenar el formulario con los datos que ahí se
            solicitan .</p>
        </div>
      </div>
    </div>
    <div class="card-body">
      {% csrf_token %}
      <div class="form-group">
        <div class="h4" style="text-align: left;">Correo Institucional</div>
        <br>
        <div class="ui-widget">
          <input id="email" name="email" class="form-control" placeholder="Ej:pablo@uandresbello.edu"
            autocomplete="off">
          <div id="container">
          </div>
        </div>
      </div>
      {% if pc %}
      <div class="form-group">
        <div class="h4" style="text-align: left;">Estás reportando el pc: </div>
        <br>
        <select id="pc_select" class="form-control-sm custom-select" name="Pc">
          <option selected value="{{ pc.id }}">{{pc.name}}</option>
        </select>
      </div>
      
      {% elif campus %}
      <div class="form-group">
        <div class="h4" style="text-align: left;">Selecciona el Campus</div>
        <br>

        <select id="campus_select" class="form-control" name="campus">
          <option selected disabled="true"></option>
          {% for i in campus %}
          <option value="{{i.id}}">{{i.name}}</option>
          {% endfor %}
        </select>

      </div>
      <div class="form-group">
        <div class="h4" style="text-align: left;">Selecciona el laboratorio</div>
        <br>

        <select id="room_select" class="form-control" name="room">
          <option selected disabled="true"></option>
        </select>

      </div>

      <br>
      <div class="form-group">
        <div class="h4" style="text-align: left;">Seleccione el PC que presenta el problema</div>
        <br>
        <select id="pc_select" class="form-control-sm custom-select" name="Pc">
          <option selected disabled="true"></option>
        </select>
      </div>
      {% endif %}
      <br>
      <div class="form-group">
        <div class="h4" style="text-align: left;">El PC presenta mal funcionamiento en:</div>
        <br>
        <select id="category" name="category" class="form-control">
          <option>Hardware</option>
          <option>Software</option>
          <option>Sistema Operativo</option>
        </select>
      </div>
      <br>
      <div class="form-group mb-1">
        <div class="h4" style="text-align: left;">Describa a continuación el problema que presenta el PC</div>
        <br>
        <textarea id="description" name="description" class="form-control" rows="3"></textarea>
      </div>
      <div class="card-footer" style="text-align: center;">
        <button type="submit" class="btn btn-primary mr-2">Emitir Reporte</button>
      </div>

  </form>
</div>


{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

<!--validate_form-->
<script type="text/javascript">
  function validate_form() {
    var expresion = /^[^\s@]+@uandresbello+\.edu+$/;
    var email = document.getElementById("email").value;
    var pc = document.getElementById("pc_select").value;
    //var room = document.getElementById("room_select").value;
    var description = document.getElementById("description").value;
    //var campus = document.getElementById('campus_select').value;

    if (!expresion.test(email)) {
      alert("Ingrese un correo valido");
      return false;
    }
    /*else if (campus == ""){
      alert("Favor de seleccionar un campus de la lista");
      return false;
    }
    else if (room == "") {
      alert("Favor de seleccionar un laboratorio de la lista");
      return false;
    }*/
    else if (pc == "") {
      alert("Favor de seleccionar un PC de la lista");
      return false;
    }
    else if (description == "") {
      alert("Favor de ingresar una descripción del problema en el PC");
      return false;
    }

  }

</script>
<!--AUTOCOMPLETE-->
<script>

  $(function () {
    $("#email").autocomplete({
      source: "{% url 'email_autocomplete' %}",
      appendTo: "#container",
      select: function (event, ui) {
        AutoCompleteSelectHandler(event, ui)
      },
      minLength: 2,
    });
  });

  function AutoCompleteSelectHandler(event, ui) {
    var selectedObj = ui.item;
  }

</script>

<!--getroom-->
<script>

  $("#campus_select").change(function () {
    const campusId = $(this).val();
    $.ajax({
      type: "POST",
      url: '{% url "getroom" %}',
      data: {
        'campus_id': campusId,
        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
      },
      success: function (data) {
        let html_data = '<option value="">---------</option>';
        data.forEach(function (data) {
          html_data += `<option value="${data.id}">${data.room_name}</option>`
        });
        $("#room_select").html(html_data);
      }
    });
  });
</script>
<!--getpc-->
<script>

  $("#room_select").change(function () {
    const roomId = $(this).val();
    $.ajax({
      type: "POST",
      url: '{% url "getpc" %}',
      data: {
        'room_id': roomId,
        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
      },
      success: function (data) {
        let html_data = '<option value="">---------</option>';
        data.forEach(function (data) {
          html_data += `<option value="${data.id}">${data.name}</option>`
        });
        $("#pc_select").html(html_data);
      }
    });
  });
</script>



{% endblock %}