{% load static %}
<title>Buscar Reportes</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
<link href="{% static 'css/style.bundle.css' %}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="shortcut icon" href="{% static 'media/logos/favicon.ico' %}" />

{% block content %}
<div class="d-flex flex-column-fluid">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10">

        <div class="card card-custom gutter-b example example-compact">
          <div class="card-header">
            <h1 class="card-title" style="text-align: center;">Seguimiento de un reporte</h1>
          </div>

          <div class="col-12" style="margin-top: 2%;">
            <div class="form-group mb-8">
              <div class="alert alert-custom alert-default" role="alert">

                <div class="alert-text">
                  <p ALIGN="justify">Ingresa el ID, para hacer seguimiento al estado del reporte en cuestión.</p>
                </div>
              </div>
            </div>
            <div class="card-body row justify-content-center">
              <form method="GET" action="{% url 'searchreport' %}" onsubmit="return validate();">
                <div class="input-group col-14" style="text-align: center;">
                  <input style="text-align: center;" type="number" id="id_search" class="form-control rounded"
                    placeholder="Ingrese ID del reporte" aria-label="Search" name="search"
                    aria-describedby="search-addon" />
                  <button type="submit" class="btn btn-outline-primary">Buscar</button>
                </div>
              </form>
            </div>
              {% if report != None %}
              <h3 style="text-align: center;">Información del reporte</h3>
              
              <div class="form-group row col-12">
                <label class="col-2 col-form-label text-secondary" style="text-align: center;">ID:</label>
                <div class="col-4">
                  <label name="email" class="col-form-label ">{{report.id}}</label>
                </div>
              <label class="col-2 col-form-label" style="text-align: center;">Email:</label>
                <div class="col-4">
                  <label name="email" class="col-form-label">{{report.email}}</label>
                </div>
            
              <label class="col-2 col-form-label" style="text-align: center;">PC:</label>
                <div class="col-4">
                  <label name="email" class="col-form-label">{{report.pc.name}}</label>
                </div>
                <label class="col-2 col-form-label" style="text-align: center;">Fecha del Reporte:</label>
                <div class="col-4">
                  <label name="email" class="col-form-label">{{report.date_created}}</label>
                </div>
                
              </div>
              <h6 style="text-align: center;">Descripción del error</h6>
                  <div class="col-12">
                    <textarea id="description" disabled name="description" class="form-control"rows="3">{{report.description}}</textarea>
                  </div>
          <h3 style="text-align: center;">Historial de cambios</h3>
          {% for rh in report.history.all %}
          <div class="card card-custom">
            <div class="card-header">
              <div class="card-title">
                {% if rh.state == "A" %}
                <h3 style="display: none;"></h3>
                {% else %}
                <h3 class="card-label">{{ rh.date_comment }}</h3>
                {% endif %}
              </div>
              <div class="card-toolbar">
                {% if rh.state == "R" %}
                <h4 style="text-align: right;">Estado:</h4>
                <span class="font-weight-bolder label label-xl label-light-warning label-inline px-3 py-5 min-w-45px">
                  <i class="ki ki-outline-info icon-nm"></i> {{ rh.get_state_display }}
                </span>
                {% elif rh.state == "C" %}
                <h4 style="text-align: right;">Estado:</h4>
                <span class="font-weight-bolder label label-xl label-light-success label-inline px-3 py-5 min-w-45px">
                  <i class="ki ki-outline-info icon-nm"></i> {{ rh.get_state_display }}
                </span>
                {% elif rh.state == "A" %}
                <div style="display: none;"></div>
                {% endif %}
              </div>
            </div>
            <div class="card-body">

              {% if rh.state == "A" %}
              <p style="display: none;"></p>
              {% else %}
              <h4>Comentario</h4>
              <p>{{ rh.comment }}</p>
              {% endif %}
            </div>
          </div>
          {% endfor %}
          
          <br>

        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>



  {% endblock %}

  {% block scripts %}

  <script type="text/javascript">

    function validate() {
      var id = document.getElementById('id_search').value;

      if (id == "") {
        alert("Debe ingresar un ID");
        return false;
      }

    }
  </script>
  {% endblock %}