{% extends '_partials/_base.html' %}
{% load static %}
{% block pagetitle %}Pagina en blanco{% endblock %}
{% block breadcumbs %}

<li class="breadcrumb-item text-muted">
    <a href="" class="text-muted">Camino</a>
</li>
<li class="breadcrumb-item text-muted">
    <a href="" class="text-muted">a</a>
</li>
<li class="breadcrumb-item text-muted">
    <a href="" class="text-muted">su pagina</a>
</li>

{% endblock %}
{% block content %}

<body>
    <div class="card card-custom gutter-b">
        <!--<div class="card-header"></div>-->
        <div class="card-body">
            <div class="row">
                <div class="col-lg-5">
                    <div class="card card-custom card-stretch gutter-b">
                        <div class="card-header border-0">
                            <h1 class="card-title font-weight-bolder text-dark">Peticiones</h1>
                            <form method="get" class="form-inline">
                                <input class="form-control my-2 mx-2" type="search" placeholder="Buscar..." aria-label="Search">
                                <button class="btn btn-outline-success my-2 mx-2" type="submit">Buscar</button>
                            </form>
                            <div class="card-toolbar">
                                <ul class="nav nav-tabs nav-bold nav-tabs-line">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" role="tab" href="#first-tab" aria-selected="false">
                                            <span class="nav-icon"><i class="flaticon2-chat-1"></i></span>
                                            <span class="nav-text">Pendientes</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" role="tab" href="#second-tab" aria-selected="false">
                                            <span class="nav-icon"><i class="flaticon2-chat-1"></i></span>
                                            <span class="nav-text">Rechazadas</span>
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" role="tab"href="#third-tab" aria-selected="false">
                                            <span class="nav-icon"><i class="flaticon2-chat-1"></i></span>
                                            <span class="nav-text">Aceptadas</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-content card-scroll" style="height: 480px;">
                            <div class="tab-pane fade active show" id="first-tab" role="tabpanel">
                                <div class="flex-column card-stretch gutter-b">
                                    <ul class="nav flex-column nav-warning nav-pills nav-fill" role="tablist">
                                        {% for labpetition in labpetition %}
                                        {% if labpetition.status_petition == "P" %}
                                        <li class="nav-item">
                                            <div class="nav-link d-flex text-left" data-toggle="tab" role="tab" aria-selected="false" href="#href{{labpetition.id}}" id="id{{labpetition.id}}">
                                                <span class="bullet bullet-bar bg-warning align-self-stretch"></span>
                                                <div class="d-flex flex-column flex-grow-1 flex-shrink-0 m-0 mx-2"><h4>{{ labpetition.name_petition }}</h4>
                                                    <div class="text-dark font-weight-bold mx-4">{{labpetition.campus_petition }}</div>
                                                    <div class="text-dark font-weight-bold mx-4">{{labpetition.laboratory_petition }}</div>
                                                </div>
                                            </div>
                                        </li>
                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="second-tab" role="tabpanel">
                                <div class="flex-column card-stretch gutter-b">
                                    <ul class="nav flex-column nav-danger nav-pills nav-fill" role="tablist">
                                        {% for labpetition in labpetition %}
                                        {% if labpetition.status_petition == "R" %}
                                        <li class="nav-item">
                                            <div class="nav-link d-flex text-left" data-toggle="tab" role="tab" aria-selected="false" href="#href{{labpetition.id}}" id="id{{labpetition.id}}">
                                                <span class="bullet bullet-bar bg-danger align-self-stretch"></span>
                                                <div class="d-flex flex-column flex-grow-1 flex-shrink-0 m-0 mx-2"><h4>{{ labpetition.name_petition }}</h4>
                                                    <div class="text-dark font-weight-bold mx-4">{{labpetition.campus_petition }}</div>
                                                    <div class="text-dark font-weight-bold mx-4">{{labpetition.laboratory_petition }}</div>
                                                </div>
                                            </div>
                                        </li>
                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="third-tab" role="tabpanel">
                                <div class="flex-column card-stretch gutter-b">
                                    <ul class="nav flex-column nav-success nav-pills nav-fill" role="tablist">
                                        {% for labpetition in labpetition %}
                                        {% if labpetition.status_petition == "A" %}
                                        <li class="nav-item">
                                            <div class="nav-link d-flex text-left" data-toggle="tab" role="tab" aria-selected="false" href="#href{{labpetition.id}}" id="id{{labpetition.id}}">
                                                <span class="bullet bullet-bar bg-success align-self-stretch"></span>
                                                <div class="d-flex flex-column flex-grow-1 flex-shrink-0 m-0 mx-2"><h4>{{ labpetition.name_petition }}</h4>
                                                    <div class="text-dark font-weight-bold mx-4">{{labpetition.campus_petition }}</div>
                                                    <div class="text-dark font-weight-bold mx-4">{{labpetition.laboratory_petition }}</div>
                                                </div>
                                            </div>
                                        </li>
                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="tab-content">
                        {% for labpetition in labpetition %}
                        <div class="tab-pane" role="tabpanel" id="href{{labpetition.id}}" aria-labelledby="id{{labpetition.id}}">
                            <div class="card card-custom card-stretch gutter-b">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between flex-column pt-4 h-100">
                                        {% if labpetition.status_petition == "P" %}
                                        <div class="d-flex bg-light-warning rounded-xl flex-column flex-center py-2">
                                            <a class="card-title font-weight-bolder text-dark-75 text-hover-primary font-size-h2 m-0 pt-5">{{ labpetition.name_petition }}</a>
                                            <div class="font-weight-bold text-dark-50 font-size-lg pb-2">{{ labpetition.email_petition }}</div>
                                            <div class="text-dark-50 font-size-sm pb-4">Dia y Hora de la peticion: --------</div>
                                        </div>
                                        {% endif %}
                                        {% if labpetition.status_petition == "R" %}
                                        <div class="d-flex bg-light-danger rounded-xl flex-column flex-center py-2">
                                            <a class="card-title font-weight-bolder text-dark-75 text-hover-primary font-size-h2 m-0 pt-5">{{ labpetition.name_petition }}</a>
                                            <div class="font-weight-bold text-dark-50 font-size-lg pb-2">{{ labpetition.email_petition }}</div>
                                            <div class="text-dark-50 font-size-sm pb-4">Dia y Hora de la peticion: --------</div>
                                        </div>
                                        {% endif %}
                                        {% if labpetition.status_petition == "A" %}
                                        <div class="d-flex bg-light-success rounded-xl flex-column flex-center py-2">
                                            <a class="card-title font-weight-bolder text-dark-75 text-hover-primary font-size-h2 m-0 pt-5">{{ labpetition.name_petition }}</a>
                                            <div class="font-weight-bold text-dark-50 font-size-lg pb-2">{{ labpetition.email_petition }}</div>
                                            <div class="text-dark-50 font-size-sm pb-4">Dia y Hora de la peticion: --------</div>
                                        </div>
                                        {% endif %}
                                        <div class="pt-6">
                                            <div class="d-flex align-items-center pb-5">
                                                <span class="bullet bullet-bar bg-primary align-self-stretch"></span>
                                                <span class="card-scroll text-dark-75 font-size-lg m-0 pb-2 mx-2">{{ labpetition.memo_petition }}</span>
                                            </div>
                                            <!--AQUI COMIENZA-->
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="d-flex flex-column flex-grow-1">
                                                        <div class="d-flex align-items-center pb-5">
                                                            <div class="symbol symbol-45 symbol-light mr-2">
                                                                <span class="nav-icon input-group-text"><i class="flaticon2-map"></i></span>
                                                            </div>
                                                            <div class="d-flex flex-column flex-grow-1">
                                                                <a class="text-muted text-hover-primary font-size-sm font-weight-bolder">Sede:</a>
                                                                <span class="text-dark-75 font-size-lg font-weight-bolder">{{ labpetition.campus_petition }}</span>
                                                            </div>
                                                        </div>
                                                        <div class="d-flex align-items-center pb-5">
                                                            <div class="symbol symbol-45 symbol-light mr-2">
                                                                <span class="nav-icon input-group-text"><i class="flaticon2-search"></i></span>
                                                            </div>
                                                            <div class="d-flex flex-column flex-grow-1">
                                                                <a class="text-muted text-hover-primary font-size-sm font-weight-bolder">Laboratorio:</a>
                                                                <span class="text-dark-75 font-size-lg font-weight-bolder">{{ labpetition.laboratory_petition }}</span>
                                                            </div>
                                                        </div>
                                                        <div class="d-flex align-items-center pb-5">
                                                            <div class="symbol symbol-45 symbol-light mr-2">
                                                                <span class="nav-icon input-group-text"><i class="flaticon-download-1"></i></span>
                                                            </div>
                                                            <div class="d-flex flex-column flex-grow-1">
                                                                <a class="text-muted text-hover-primary font-size-sm font-weight-bolder">Cantidad de PCs</a>
                                                                <span class="text-dark-75 font-size-lg font-weight-bolder">{{ labpetition.cant_pc_petition }}</span>
                                                            </div>
                                                        </div>
                                                        <div class="d-flex align-items-center pb-5">
                                                            <div class="symbol symbol-45 symbol-light mr-2">
                                                                <span class="nav-icon input-group-text"><i class="flaticon2-browser"></i></span>
                                                            </div>
                                                            <div class="d-flex flex-column flex-grow-1">
                                                                <a class="text-muted text-hover-primary font-size-sm font-weight-bolder">NRC:</a>
                                                                <span class="text-dark-75 font-size-lg font-weight-bolder">{{ labpetition.nrc_petition }}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="d-flex flex-column flex-grow-1">
                                                        <div class="d-flex align-items-center pb-5">
                                                            <div class="symbol symbol-45 symbol-light mr-2">
                                                                <span class="nav-icon input-group-text"><i class="flaticon2-calendar-1"></i></span>
                                                            </div>
                                                            <div class="d-flex flex-column flex-grow-1">
                                                                <a class="text-muted text-hover-primary font-size-sm font-weight-bolder">Dia Inicio:</a>
                                                                <span class="text-dark-75 font-size-lg font-weight-bolder">{{ labpetition.day_start_petition }}</span>
                                                            </div>
                                                        </div>
                                                        <div class="d-flex align-items-center pb-5">
                                                            <div class="symbol symbol-45 symbol-light mr-2">
                                                                <span class="nav-icon input-group-text"><i class="flaticon2-calendar-1"></i></span>
                                                            </div>
                                                            <div class="d-flex flex-column flex-grow-1">
                                                                <a class="text-muted text-hover-primary font-size-sm font-weight-bolder">Dia Final:</a>
                                                                <span class="text-dark-75 font-size-lg font-weight-bolder">{{ labpetition.day_finish_petition }}</span>
                                                            </div>
                                                        </div>
                                                        <div class="d-flex align-items-center pb-5">
                                                            <div class="symbol symbol-45 symbol-light mr-2">
                                                                <span class="nav-icon input-group-text"><i class="flaticon2-chronometer"></i></span>
                                                            </div>
                                                            <div class="d-flex flex-column flex-grow-1">
                                                                <a class="text-muted text-hover-primary font-size-sm font-weight-bolder">Hora Inicio:</a>
                                                                <span class="text-dark-75 font-size-lg font-weight-bolder">{{ labpetition.time_start_petition }}</span>
                                                            </div>
                                                        </div>
                                                        <div class="d-flex align-items-center pb-5">
                                                            <div class="symbol symbol-45 symbol-light mr-2">
                                                                <span class="nav-icon input-group-text"><i class="flaticon2-chronometer"></i></span>
                                                            </div>
                                                            <div class="d-flex flex-column flex-grow-1">
                                                                <a class="text-muted text-hover-primary font-size-sm font-weight-bolder">Hora Final:</a>
                                                                <span class="text-dark-75 font-size-lg font-weight-bolder">{{ labpetition.time_finish_petition }}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row pt-4">
                                            <div class="ml-lg-auto">
                                                <a href="{% url 'administrarid' labpetition.id %}" class="btn btn-light-success font-weight-bold">Modificar</a>
                                            </div>
                                        </div>
                                        <!--end::Footer-->
                                    </div>
                                    <!--end::Wrapper-->
                                </div>
                                <!--end::Body-->
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</body>
{% endblock %}

{% block scripts %}
<script src="{%static 'js/pages/crud/forms/widgets/engage_code.js'%}"></script>
<script>
    $("#first-tab").click(function(){
        $(".nav-link").removeClass("active");
    });
    $("#second-tab").click(function(){
        $(".nav-link").removeClass("active");
    });
    $("#third-tab").click(function(){
        $(".nav-link").removeClass("active");
    });
</script>
{% endblock %}