{% extends '_partials/_base.html' %}
{% load static %}


{% block pagetitle %}Pagina inicial{% endblock %}

{% block breadcumbs %}

<li class="breadcrumb-item text-muted">
    <a href="" class="text-muted">Camino</a>
</li>
<li class="breadcrumb-item text-muted">
    <a href="" class="text-muted">a</a>
</li>
<li class="breadcrumb-item text-muted">
    <a href="" class="text-muted">su pagina</a>
</li>

{% endblock %}

{% block content %}
    <!--begin::Notice-->
    <div class="alert alert-custom alert-white alert-shadow fade show gutter-b col-lg-12" role="alert">
        <div class="alert-icon">
            <span class="svg-icon svg-icon-primary svg-icon-xl">
                <!--begin::Svg Icon | path:assets/media/svg/icons/Tools/Compass.svg-->
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect x="0" y="0" width="24" height="24" />
                        <path d="M7.07744993,12.3040451 C7.72444571,13.0716094 8.54044565,13.6920474 9.46808594,14.1079953 L5,23 L4.5,18 L7.07744993,12.3040451 Z M14.5865511,14.2597864 C15.5319561,13.9019016 16.375416,13.3366121 17.0614026,12.6194459 L19.5,18 L19,23 L14.5865511,14.2597864 Z M12,3.55271368e-14 C12.8284271,3.53749572e-14 13.5,0.671572875 13.5,1.5 L13.5,4 L10.5,4 L10.5,1.5 C10.5,0.671572875 11.1715729,3.56793164e-14 12,3.55271368e-14 Z" fill="#000000" opacity="0.3" />
                        <path d="M12,10 C13.1045695,10 14,9.1045695 14,8 C14,6.8954305 13.1045695,6 12,6 C10.8954305,6 10,6.8954305 10,8 C10,9.1045695 10.8954305,10 12,10 Z M12,13 C9.23857625,13 7,10.7614237 7,8 C7,5.23857625 9.23857625,3 12,3 C14.7614237,3 17,5.23857625 17,8 C17,10.7614237 14.7614237,13 12,13 Z" fill="#000000" fill-rule="nonzero" />
                    </g>
                </svg>
                <!--end::Svg Icon-->
            </span>
        </div>
        <div class="alert-text">Metronic extends
        <code>Bootstrap Card</code>with
        <code>.card-custom</code>class to provide a wide range of options for multi-purpose cards.
        <br />For more info please visit Bootstrap Card's
        <a class="font-weight-bold" href="https://getbootstrap.com/docs/4.6/components/card/" target="_blank">Documentation</a>.</div>
    </div>
    <!--end::Notice-->
    <!--begin::Row-->
    <div class="row">          
        <div class="col-lg-6">
            <!--begin::Card-->
            <div class="card card-custom mt-3">
                <div class="card-header">
                    <div class="card-title">
                        <h3 class="card-label">Basic Card
                        <small>sub title</small></h3>
                    </div>
                </div>
                <div class="card-body">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</div>
            </div>
            <!--end::Card--> 
            
        </div>    
        <div class="col-lg-6">
            <!--begin::Card-->
           <div class="card card-custom mt-3">
               <div class="card-header">
                   <div class="card-title">
                       <span class="card-icon">
                           <i class="flaticon2-line-chart text-primary"></i>
                       </span>
                       <h3 class="card-label">Card Icon
                       <small>sub title</small></h3>
                   </div>
               </div>
               <div class="card-body">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</div>
           </div>
           <!--end::Card-->
       </div>       
    </div>

    <div class="row">
        <div class="col-lg-12">
            <!--begin::Card-->
            <div class="card card-custom mt-3 col-lg-12">
                <div class="card-header">
                    <div class="card-title">
                        <h3 class="card-label">Basic Card
                        <small>sub title</small></h3>
                    </div>
                </div>
                <div class="card-body">
                <div class="form-group row">
                    <label class="col-form-label text-right col-lg-3 col-sm-12">Basic Example</label>
                    <div class="col-lg-4 col-md-9 col-sm-12">
                        <div class="input-group date" id="kt_datetimepicker_1" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input" placeholder="Select date &amp; time" data-target="#kt_datetimepicker_1" />
                            <div class="input-group-append" data-target="#kt_datetimepicker_1" data-toggle="datetimepicker">
                                <span class="input-group-text">
                                    <i class="ki ki-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <!--end::Card-->
        </div>            
    </div>
    <!--end::Row-->

{% endblock %}

{% block scripts %}
<script src="{%static 'js/pages/crud/forms/widgets/bootstrap-datetimepicker.js'%}"></script>
{% endblock %}