<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link
      href="https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="css/bootstrap.min.css"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/main.css" />
  </head>

  <body>
    <div class="d-flex flex-column-fluid">
      <!--begin::Container-->
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-8">
            <!--begin::Card-->
            <div class="card card-custom gutter-b example example-compact">
              <div class="card-header">
                <h3 class="card-title">Solicitud de software</h3>
                <div class="card-toolbar">
                  <!--AQUI LOGO UNAB-->
                </div>
              </div>
              <!--begin::Form-->
              <form action=" { % url 'guardarFormulario' % }" method="POST">
                {% csrf_token %}
                <div class="card-body row justify-content-center">
                  <div class="form-group row col-12">
                    <label class="col-2 col-form-label">Nombre</label>
                    <div class="col-4">
                      <input
                        class="form-control"
                        type="text"
                        name="name_user"
                        value=""
                      />
                    </div>
                    <label class="col-2 col-form-label">Apellido</label>
                    <div class="col-4">
                      <input
                        class="form-control"
                        type="text"
                        name="last_name"
                        value=""
                      />
                    </div>
                  </div>
                  <div class="form-group row col-12">
                    <label
                      for="example-search-input"
                      class="col-2 col-form-label"
                      >Rut</label
                    >
                    <div class="col-4">
                      <input
                        class="form-control"
                        type="text"
                        name="rut"
                        value=""
                      />
                    </div>
                    <label
                      for="example-search-input"
                      class="col-2 col-form-label"
                      >Correo institucional</label
                    >
                    <div class="col-4">
                      <input
                        class="form-control"
                        type="text"
                        name="email"
                        value=""
                      />
                    </div>
                  </div>
                  <div class="form-group row col-12">
                    <label class="col-4 col-form-label"
                      >¿La licencias es para alguna asignatura?</label
                    >
                    <div class="col-6">
                      <label class="col-2 col-form-label">No</label
                      ><input type="radio" name="radios" />
                      <label class="col-2 col-form-label">Si</label
                      ><input type="radio" name="radios" />
                    </div>
                  </div>

                  <div class="form-group row fv-plugins-icon-container col-12">
                    <table class="table table-bordered">
                      <thead class="table-dark col-12">
                        <tr>
                          <th class="" style="width: 70%">Asignatura</th>
                          <th class="" style="width: 15%">Codigo del curso</th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr>
                          <th>
                            <input
                              class="form-control"
                              type="text"
                              name="subject"
                              value=""
                              id="example-text-input"
                            />
                          </th>
                          <th>
                            <input
                              class="form-control"
                              type="text"
                              name="nrc"
                              value=""
                              id="example-text-input"
                            />
                          </th>
                        </tr>
                      </tbody>

                      <tbody>
                        <tr>
                          <th>
                            <input
                              class="form-control"
                              type="text"
                              value=""
                              id="example-text-input"
                            />
                          </th>
                          <th>
                            <input
                              class="form-control"
                              type="text"
                              value=""
                              id="example-text-input"
                            />
                          </th>
                        </tr>
                      </tbody>

                      <tbody>
                        <tr>
                          <th>
                            <input
                              class="form-control"
                              type="text"
                              value=""
                              id="example-text-input"
                            />
                          </th>
                          <th>
                            <input
                              class="form-control"
                              type="text"
                              value=""
                              id="example-text-input"
                            />
                          </th>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="form-group row fv-plugins-icon-container col-12">
                    <label for="">Software a instalar:</label>
                    <table class="table table-bordered">
                      <thead class="table-dark">
                        <tr>
                          <th class="" style="width: 60%">Nombre</th>
                          <th class="" style="width: 10%">Con licencia</th>
                          <th class="" style="width: 10%">Open souce</th>
                          <th class="" style="width: 10%">Trial</th>
                          <th class="" style="width: 10%">Otro</th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr>
                          <th>
                            <input
                              class="form-control"
                              type="text"
                              name="software_name"
                              value=""
                              id="example-text-input"
                            />
                          </th>
                          <th><input type="radio" name="radios" /></th>
                          <th><input type="radio" name="radios" /></th>
                          <th><input type="radio" name="radios" /></th>
                          <th><input type="radio" name="radios" /></th>
                        </tr>
                      </tbody>

                      <tbody>
                        <tr>
                          <th>
                            <input
                              class="form-control"
                              type="text"
                              value=""
                              id="example-text-input"
                            />
                          </th>
                          <th><input type="radio" name="radios1" /></th>
                          <th><input type="radio" name="radios1" /></th>
                          <th><input type="radio" name="radios1" /></th>
                          <th><input type="radio" name="radios" /></th>
                        </tr>
                      </tbody>

                      <tbody>
                        <tr>
                          <th>
                            <input
                              class="form-control"
                              type="text"
                              value=""
                              id="example-text-input"
                            />
                          </th>
                          <th><input type="radio" name="radios2" /></th>
                          <th><input type="radio" name="radios2" /></th>
                          <th><input type="radio" name="radios2" /></th>
                          <th><input type="radio" name="radios" /></th>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <div class="form-group row" style="width: 90%">
                    <label for="exampleFormControlTextarea1"
                      >Detalles por considerar para la instalación (Enlace de
                      descarga, instrucciones específicas de instalación o
                      configuración, etc.):</label
                    >
                    <textarea
                      class="form-control"
                      id="exampleFormControlTextarea1"
                      rows="3"
                    ></textarea>
                  </div>

                  <div class="form-group mb-8">
                    <div class="alert alert-custom alert-default" role="alert">
                      <div class="alert-text">
                        <p>Observaciones</p>
                        <p>
                          • Existe un plazo mínimo de 2 semanas a contar de la
                          fecha solicitud para que el software esté instalado,
                          el cual puede variar dependiendo de: <br />
                          - Disponibilidad Laboratorio <br />
                          - Licencia de software <br />
                          - Cara de trabajo una vez iniciado el semestre
                          academico
                        </p>
                        <p>
                          • Si el software requiere licencia para ser utilizado,
                          el equipo de Laboratorios, no se hace responsable por
                          no disponer de licencias. Gestionar licencias con
                          dirección de escuela.
                        </p>
                        <p>
                          • Si dispone de software a instalar, favor facilitar a
                          encargados de laboratorios, para disminuir los tiempos
                          de instalación.
                        </p>
                        <p>
                          • En caso de tener guía de instalación, o protocolos
                          especiales, favor entregar al equipo de Laboratorios.
                        </p>
                        <p style="color: red">
                          • Si el software solicitado es “TRIAL” o es una
                          versión de prueba, el software será desinstalado una
                          vez que expire.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="row col-12 justify-content-end">
                    <div class="col-2">
                      <a
                        href="{% url 'licenses:form_create' %}"
                        type="submit"
                        class="btn btn-success mr-2"
                        >Submit</a
                      >
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <!--end::Card-->
          </div>
        </div>
      </div>
      <!--end::Container-->
    </div>

    <script
      src="js/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="js/bootstrap.min.js"
      integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
