{% extends '_partials/_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block pagetitle %}Pagina en blanco{% endblock %}

{% block title %}Modulo de licencias{% endblock %}

{% block breadcumbs %}

<li class="breadcrumb-item text-muted">
    <a href="" class="text-muted">Camino</a>
</li>
<li class="breadcrumb-item text-muted">
    <a href="" class="text-muted">a</a>
</li>
<li class="breadcrumb-item text-muted">
    <a href="" class="text-muted">su pagina</a>
</li>


{% endblock %}

{% block notificaciones %}

<li class="breadcrumb-item text-muted">
    <a href="" class="text-muted">Camino</a>
</li>
<li class="breadcrumb-item text-muted">
    <a href="" class="text-muted">a</a>
</li>
<li class="breadcrumb-item text-muted">
    <a href="" class="text-muted">su pagina</a>
</li>


{% endblock %}


{% block content %}
    <div class="d-flex flex-column-fluid">
							<!--begin::Container-->
							<div class="container">
								<div class="row justify-content-center">
									<div class="col-8">	
										<!--begin::Card-->
										<div class="card card-custom gutter-b example example-compact">
											<div class="card-header">
												<h3 class="card-title">Licencia</h3>
												<div class="card-toolbar">
													<!--AQUI LOGO UNAB-->
												</div>
											</div>
											<div class="col-12" style="margin-top: 2%;">
											<!--begin::Form-->
											
												<div class="card-body row justify-content-center">
													
													<div class="form-group row col-12">
														
														<label class="col-2 col-form-label">Nombre</label>

														<div class="col-4">
															<input class="form-control" type="text" name="name_user" value="{{ licencia.license_name }}" readonly/>
														</div>
														
													</div>
													<div class="form-group row col-12">
														<label for="example-search-input" class="col-2 col-form-label">Info</label>
														<div class="col-4">
															<input class="form-control" type="text" name="due_date" value="{{ licencia.license_due_date }}" readonly/>
														</div>
													</div>
													

													<div class="col-12 row offset-6">
														<div class="col-3">
															<a href="{%url 'licenses:adm_licencias' %}" class="btn btn-success"> Volver </a> 
														</div>
														<div class="col-3 offset-1">
															<a href="{%url 'licenses:edit_license' licencia.id_license %}" class="btn btn-success"> Editar </a> 
														</div>
													</div>
													
													
													

													
													
													<!--begin: Code-->
													<div class="example-code mt-10">
														<div class="example-highlight">
															<pre style="height:400px">
																	<code class="language-html">
																		&lt;div class="card card-custom"&gt;
																			&lt;div class="card-header"&gt;
																			&lt;h3 class="card-title"&gt;
																			Textual HTML5 Inputs
																			&lt;/h3&gt;
																			&lt;/div&gt;
																			&lt;!--begin::Form--&gt;
																			&lt;form&gt;
																			&lt;div class="card-body"&gt;
																			&lt;div class="form-group mb-8"&gt;
																			&lt;div class="alert alert-custom alert-default" role="alert"&gt;
																				&lt;div class="alert-icon"&gt;&lt;i class="flaticon-warning text-primary"&gt;&lt;/i&gt;&lt;/div&gt;
																				&lt;div class="alert-text"&gt;
																				Here are examples of &lt;code&gt;.form-control&lt;/code&gt; applied to each textual HTML5 input type:
																				&lt;/div&gt;
																			&lt;/div&gt;
																			&lt;/div&gt;
																			&lt;div class="form-group row"&gt;
																			&lt;label  class="col-2 col-form-label"&gt;Text&lt;/label&gt;
																			&lt;div class="col-10"&gt;
																				&lt;input class="form-control" type="text" value="Artisanal kale" id="example-text-input"/&gt;
																			&lt;/div&gt;
																			&lt;/div&gt;
																			&lt;div class="form-group row"&gt;
																			&lt;label for="example-search-input" class="col-2 col-form-label"&gt;Search&lt;/label&gt;
																			&lt;div class="col-10"&gt;
																				&lt;input class="form-control" type="search" value="How do I shoot web" id="example-search-input"/&gt;
																			&lt;/div&gt;
																			&lt;/div&gt;
																			&lt;div class="form-group row"&gt;
																			&lt;label for="example-email-input" class="col-2 col-form-label"&gt;Email&lt;/label&gt;
																			&lt;div class="col-10"&gt;
																				&lt;input class="form-control" type="email" value="bootstrap@example.com" id="example-email-input"/&gt;
																			&lt;/div&gt;
																			&lt;/div&gt;
																			&lt;div class="form-group row"&gt;
																			&lt;label for="example-url-input" class="col-2 col-form-label"&gt;URL&lt;/label&gt;
																			&lt;div class="col-10"&gt;
																				&lt;input class="form-control" type="url" value="https://getbootstrap.com" id="example-url-input"/&gt;
																			&lt;/div&gt;
																			&lt;/div&gt;
																			&lt;div class="form-group row"&gt;
																			&lt;label for="example-tel-input" class="col-2 col-form-label"&gt;Telephone&lt;/label&gt;
																			&lt;div class="col-10"&gt;
																				&lt;input class="form-control" type="tel" value="1-(555)-555-5555" id="example-tel-input"/&gt;
																			&lt;/div&gt;
																			&lt;/div&gt;
																			&lt;div class="form-group row"&gt;
																			&lt;label for="example-password-input" class="col-2 col-form-label"&gt;Password&lt;/label&gt;
																			&lt;div class="col-10"&gt;
																				&lt;input class="form-control" type="password" value="hunter2" id="example-password-input"/&gt;
																			&lt;/div&gt;
																			&lt;/div&gt;
																			&lt;div class="form-group row"&gt;
																			&lt;label for="example-number-input" class="col-2 col-form-label"&gt;Number&lt;/label&gt;
																			&lt;div class="col-10"&gt;
																				&lt;input class="form-control" type="number" value="42" id="example-number-input"/&gt;
																			&lt;/div&gt;
																			&lt;/div&gt;
																			&lt;div class="form-group row"&gt;
																			&lt;label for="example-datetime-local-input" class="col-2 col-form-label"&gt;Date and time&lt;/label&gt;
																			&lt;div class="col-10"&gt;
																				&lt;input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="example-datetime-local-input"/&gt;
																			&lt;/div&gt;
																			&lt;/div&gt;
																			&lt;div class="form-group row"&gt;
																			&lt;label for="example-date-input" class="col-2 col-form-label"&gt;Date&lt;/label&gt;
																			&lt;div class="col-10"&gt;
																				&lt;input class="form-control" type="date" value="2011-08-19" id="example-date-input"/&gt;
																			&lt;/div&gt;
																			&lt;/div&gt;
																			&lt;div class="form-group row"&gt;
																			&lt;label for="example-month-input" class="col-2 col-form-label"&gt;Month&lt;/label&gt;
																			&lt;div class="col-10"&gt;
																				&lt;input class="form-control" type="month" value="2011-08" id="example-month-input"/&gt;
																			&lt;/div&gt;
																			&lt;/div&gt;
																			&lt;div class="form-group row"&gt;
																			&lt;label for="example-week-input" class="col-2 col-form-label"&gt;Week&lt;/label&gt;
																			&lt;div class="col-10"&gt;
																				&lt;input class="form-control" type="week" value="2011-W33" id="example-week-input"/&gt;
																			&lt;/div&gt;
																			&lt;/div&gt;
																			&lt;div class="form-group row"&gt;
																			&lt;label for="example-time-input" class="col-2 col-form-label"&gt;Time&lt;/label&gt;
																			&lt;div class="col-10"&gt;
																				&lt;input class="form-control" type="time" value="13:45:00" id="example-time-input"/&gt;
																			&lt;/div&gt;
																			&lt;/div&gt;
																			&lt;div class="form-group row"&gt;
																			&lt;label for="example-color-input" class="col-2 col-form-label"&gt;Color&lt;/label&gt;
																			&lt;div class="col-10"&gt;
																				&lt;input class="form-control" type="color" value="#563d7c" id="example-color-input"/&gt;
																			&lt;/div&gt;
																			&lt;/div&gt;
																			&lt;div class="form-group row"&gt;
																			&lt;label for="example-email-input" class="col-2 col-form-label"&gt;Range&lt;/label&gt;
																			&lt;div class="col-10"&gt;
																				&lt;input class="form-control" type="range"/&gt;
																			&lt;/div&gt;
																			&lt;/div&gt;
																			&lt;/div&gt;
																			&lt;div class="card-footer"&gt;
																			&lt;div class="row"&gt;
																			&lt;div class="col-2"&gt;
																			&lt;/div&gt;
																			&lt;div class="col-10"&gt;
																				&lt;button type="reset" class="btn btn-success mr-2"&gt;Submit&lt;/button&gt;
																				&lt;button type="reset" class="btn btn-secondary"&gt;Cancel&lt;/button&gt;
																			&lt;/div&gt;
																			&lt;/div&gt;
																			&lt;/div&gt;
																			&lt;/form&gt;
																		&lt;/div&gt;
																		</code>
																	</pre>
														</div>
													</div>
													<!--end: Code-->
												</div>
												
											
											</div>
										</div>
										<!--end::Card-->
										</div>
									
								</div>
							</div>
							<!--end::Container-->
						</div>

{% endblock %}

{% block scripts %}
{% endblock %}