{% extends '_partials/_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block pagetitle %}Pagina en blanco{% endblock %}

{% block title %}Modulo de licencias{% endblock %}

{% block breadcumbs %}

<li class="breadcrumb-item text-muted">
    <a href="" class="text-muted">Camino</a>
</li>
<li class="breadcrumb-item text-muted">
    <a href="" class="text-muted">a</a>
</li>
<li class="breadcrumb-item text-muted">
    <a href="" class="text-muted">su pagina</a>
</li>


{% endblock %}

{% block notificaciones %}

<li class="breadcrumb-item text-muted">
    <a href="" class="text-muted">Camino</a>
</li>
<li class="breadcrumb-item text-muted">
    <a href="" class="text-muted">a</a>
</li>
<li class="breadcrumb-item text-muted">
    <a href="" class="text-muted">su pagina</a>
</li>


{% endblock %}


{% block content %}
    <div class="d-flex flex-column-fluid">
							<!--begin::Container-->
							<div class="container">
								<div class="row justify-content-center">
									<div class="col-8">	
										<!--begin::Card-->
										<div class="card card-custom gutter-b example example-compact">
											<div class="card-header">
												<h3 class="card-title">Buscador de solicitudes</h3>
												<div class="card-toolbar">
													<!--AQUI LOGO UNAB-->
												</div>
											</div>
											<div class="col-12" style="margin-top: 2%;">
											<!--begin::Form-->
												<form method="get" action="{% url 'licenses:forms_view' %}">
													{% csrf_token %}
												<div class="card-body row justify-content-center">									
													<label class="col-2 col-form-label">ID</label>
														<div class="col-4">
															<input class="form-control" type="text" name="id_user" value="" required="True" />
														</div>	
												</div>	

												<button class="btn btn-success mr-2 col-2 offset-5">buscar</button>	
												</form>
												<hr />

												<div class="card-body row justify-content-center">
													
													<div class="form-group row col-12">
														<label class="col-2 col-form-label">Nombre</label>
														<div class="col-4">
															<input class="form-control" type="text" name="name_user" value="{{ formulario.name_user }}" />
														</div>
														<label class="col-2 col-form-label">Apellido</label>
														<div class="col-4">
															<input class="form-control" type="text" name="last_name" value="{{ formulario.last_name }}" />
														</div>
													</div>
													<div class="form-group row col-12">
														<label for="example-search-input" class="col-2 col-form-label">Rut</label>
														<div class="col-4">
															<input class="form-control" type="text" name="rut" value="{{ formulario.rut }}" />
														</div>
														<label for="example-search-input" class="col-2 col-form-label">Email</label>
														<div class="col-4">
															<input class="form-control" type="text" name="email" value="{{ formulario.email }}" />
														</div>
													</div>

													<div class="form-group row fv-plugins-icon-container col-12">
														<table class="table table-bordered">
															
															<thead class="table-dark col-12">
																<tr>
																	<th class="" style="width: 70%;">Asignatura</th>
																	<th class="" style="width: 15%;">Codigo del curso</th>
																</tr>
															</thead>
															

															<tbody>
																<tr>
																	<th ><input class="form-control" type="text" name="subject" value="{{ formulario.subject }}" id="example-text-input" /></th>
																	<th ><input class="form-control" type="text" name="nrc" value="{{ formulario.nrc }}" id="example-text-input" /></th>
																	
																</tr>

															</tbody>

															

														</table>
													</div>
													<div class="form-group row fv-plugins-icon-container col-12">
														<label for="">Software a instalar:</label>
														<table class="table table-bordered">
															
															<thead class="table-dark">
																<tr>
																	<th class="" style="width: 70%;">Nombre</th>
																	<th class="" style="width: 20%;">Tipo de licencia</th>
																</tr>
															</thead>
															

															<tbody>
																<tr>
																	<th ><input class="form-control" type="text" name="software_name" value="{{ formulario.software_name }}" id="example-text-input" /></th>
																	<th ><input class="form-control" type="text" name="software_type" value="{{ formulario.software_type }}" id="example-text-input" /></th>
																</tr>

															</tbody>

														</table>
													</div>
													
													<div class="form-group row fv-plugins-icon-container col-6">
														<table class="table table-bordered">
															
															<thead class="table-dark">
																<tr>
																	<th>Laboratorio</th>
																</tr>
															</thead>
															

															<tbody>
																<tr>
																	<th ><input class="form-control" type="text" name="software_name" value="{{ formulario.room_name }}" id="example-text-input" /></th>

																</tr>

															</tbody>

														
															

														</table>
													</div>

													<div class="form-group row " style="width: 90%;">
														<label for="exampleFormControlTextarea1">Detalles: </label>
														<input class="form-control" id="details" type="text" rows="3" value="{{ formulario.details }}"></input>
													</div>

													
													
													
												</div>
												
											
											</div>
										</div>
										<!--end::Card-->
										</div>
									
								</div>
							</div>
							<!--end::Container-->
						</div>

{% endblock %}

{% block scripts %}
{% endblock %}