{% extends '_partials/_base.html' %}
{% load static %}
{% block pagetitle %}Pagina en blanco{% endblock %}

{% block title %}Blanco{% endblock %}

{% block breadcumbs %}

<li class="breadcrumb-item text-muted">
    <a href="" class="text-muted">Camino</a>
</li>
<li class="breadcrumb-item text-muted">
    <a href="" class="text-muted">a</a>
</li>
<li class="breadcrumb-item text-muted">
    <a href="" class="text-muted">su pagina</a>
</li>

{% endblock %}

{% block content %}
   
<div class="container">
	<!--begin::Card-->
	<div class="card card-custom gutter-b border border-secondary">
        <div class=" col-12 text-center" style="margin-top: 3%; margin-bottom: 3%; ">
            <h1 class="card-title font-weight-bolder text-dark-75 text-hover-primary font-size-h4 m-0 pt-7 pb-1 " >Laboratorio</h1>
            <div class="co-10 border border-secondary rounded" style="margin-top: 1%; padding-bottom: 3%;">
            <div class=" d-flex flex-wrap justify-content-center col-10 offset-1" style="margin-top: 3%; ">
                <div class="dflex flex-colum flex-center bd-highlight mb-3" style="margin-right:3%">
                    <div class="p-2 bd-highlight d-flex flex-column flex-center"><a href="{% url 'licenses:pc' %}" ><i class="fas fa-desktop fa-5x text-hover-primary" style="color: rgb(11, 165, 11);"></i></a></div>
                    <div class="justify-content-center"><h6>COM 301</h6></div>
                </div>
                <div class="dflex flex-colum flex-center bd-highlight mb-3" style="margin-right:3%">
                    <div class="p-2 bd-highlight d-flex flex-column flex-center"><a href=" " ><i class="fas fa-desktop fa-5x text-hover-primary" style="color: rgb(11, 165, 11);"></i></a></div>
                    <div class="justify-content-center"><h6>COM 302</h6></div>
                </div>
                <div class="dflex flex-colum flex-center bd-highlight mb-3" style="margin-right:3%">
                    <div class="p-2 bd-highlight d-flex flex-column flex-center"><a href=" " ><i class="fas fa-desktop fa-5x text-hover-primary" style="color: rgb(209, 145, 27);"></i></a></div>
                    <div class="justify-content-center"><h6>COM 303</h6></div>
                </div>
                <div class="dflex flex-colum flex-center bd-highlight mb-3" style="margin-right:3%">
                    <div class="p-2 bd-highlight d-flex flex-column flex-center"><a href=" " ><i class="fas fa-desktop fa-5x text-hover-primary" style="color: rgb(11, 165, 11);"></i></a></div>
                    <div class="justify-content-center"><h6>COM 304</h6></div>
                </div>
                <div class="dflex flex-colum flex-center bd-highlight mb-3" style="margin-right:3%">
                    <div class="p-2 bd-highlight d-flex flex-column flex-center"><a href=" " ><i class="fas fa-desktop fa-5x text-hover-primary" style="color: rgb(11, 165, 11);"></i></a></div>
                    <div class="justify-content-center"><h6>COM 305</h6></div>
                </div>
                <div class="dflex flex-colum flex-center bd-highlight mb-3" style="margin-right:3%">
                    <div class="p-2 bd-highlight d-flex flex-column flex-center"><a href=" " ><i class="fas fa-desktop fa-5x text-hover-primary" style="color: rgb(11, 165, 11);"></i></a></div>
                    <div class="justify-content-center"><h6>COM 306</h6></div>
                </div>
                <div class="dflex flex-colum flex-center bd-highlight mb-3" style="margin-right:3%">
                    <div class="p-2 bd-highlight d-flex flex-column flex-center"><a href=" " ><i class="fas fa-desktop fa-5x text-hover-primary" style="color: rgb(11, 165, 11);"></i></a></div>
                    <div class="justify-content-center"><h6>COM 307</h6></div>
                </div>
                <div class="dflex flex-colum flex-center bd-highlight mb-3" style="margin-right:3%">
                    <div class="p-2 bd-highlight d-flex flex-column flex-center"><a href=" " ><i class="fas fa-desktop fa-5x text-hover-primary" style="color: rgb(11, 165, 11);"></i></a></div>
                    <div class="justify-content-center"><h6>COM 308</h6></div>
                </div>
                <div class="dflex flex-colum flex-center bd-highlight mb-3" style="margin-right:3%">
                    <div class="p-2 bd-highlight d-flex flex-column flex-center"><a href=" " ><i class="fas fa-desktop fa-5x text-hover-primary" style="color: rgb(11, 165, 11);"></i></a></div>
                    <div class="justify-content-center"><h6>COM 309</h6></div>
                </div>
                <div class="dflex flex-colum flex-center bd-highlight mb-3" style="margin-right:3%">
                    <div class="p-2 bd-highlight d-flex flex-column flex-center"><a href=" " ><i class="fas fa-desktop fa-5x text-hover-primary" style="color: rgb(11, 165, 11);"></i></a></div>
                    <div class="justify-content-center"><h6>COM 310</h6></div>
                </div>
                <div class="dflex flex-colum flex-center bd-highlight mb-3" style="margin-right:3%">
                    <div class="p-2 bd-highlight d-flex flex-column flex-center"><a href=" " ><i class="fas fa-desktop fa-5x text-hover-primary" style="color: rgb(11, 165, 11);"></i></a></div>
                    <div class="justify-content-center"><h6>COM 311</h6></div>
                </div>
                <div class="dflex flex-colum flex-center bd-highlight mb-3" style="margin-right:3%">
                    <div class="p-2 bd-highlight d-flex flex-column flex-center"><a href=" " ><i class="fas fa-desktop fa-5x text-hover-primary" style="color: rgb(11, 165, 11);"></i></a></div>
                    <div class="justify-content-center"><h6>COM 312</h6></div>
                </div>
                <div class="dflex flex-colum flex-center bd-highlight mb-3" style="margin-right:3%">
                    <div class="p-2 bd-highlight d-flex flex-column flex-center"><a href=" " ><i class="fas fa-desktop fa-5x text-hover-primary" style="color: rgb(11, 165, 11);"></i></a></div>
                    <div class="justify-content-center"><h6>COM 313</h6></div>
                </div>
                <div class="dflex flex-colum flex-center bd-highlight mb-3" style="margin-right:3%">
                    <div class="p-2 bd-highlight d-flex flex-column flex-center"><a href=" " ><i class="fas fa-desktop fa-5x text-hover-primary" style="color: rgb(209, 145, 27);"></i></a></div>
                    <div class="justify-content-center"><h6>COM 314</h6></div>
                </div>
                <div class="dflex flex-colum flex-center bd-highlight mb-3" style="margin-right:3%">
                    <div class="p-2 bd-highlight d-flex flex-column flex-center"><a href=" " ><i class="fas fa-desktop fa-5x text-hover-primary" style="color: rgb(11, 165, 11);"></i></a></div>
                    <div class="justify-content-center"><h6>COM 315</h6></div>
                </div>
                <div class="dflex flex-colum flex-center bd-highlight mb-3" style="margin-right:3%">
                    <div class="p-2 bd-highlight d-flex flex-column flex-center"><a href=" " ><i class="fas fa-desktop fa-5x text-hover-primary" style="color: rgb(11, 165, 11);"></i></a></div>
                    <div class="justify-content-center"><h6>COM 316</h6></div>
                </div>
                <div class="dflex flex-colum flex-center bd-highlight mb-3" style="margin-right:3%">
                    <div class="p-2 bd-highlight d-flex flex-column flex-center"><a href=" " ><i class="fas fa-desktop fa-5x text-hover-primary" style="color: rgb(165, 11, 11);"></i></a></div>
                    <div class="justify-content-center"><h6>COM 317</h6></div>
                </div>
                <div class="dflex flex-colum flex-center bd-highlight mb-3" style="margin-right:3%">
                    <div class="p-2 bd-highlight d-flex flex-column flex-center"><a href=" " ><i class="fas fa-desktop fa-5x text-hover-primary" style="color: rgb(11, 165, 11);"></i></a></div>
                    <div class="justify-content-center"><h6>COM 318</h6></div>
                </div>
                <div class="dflex flex-colum flex-center bd-highlight mb-3" style="margin-right:3%">
                    <div class="p-2 bd-highlight d-flex flex-column flex-center"><a href=" " ><i class="fas fa-desktop fa-5x text-hover-primary" style="color: rgb(11, 165, 11);"></i></a></div>
                    <div class="justify-content-center"><h6>COM 319</h6></div>
                </div>
                <div class="dflex flex-colum flex-center bd-highlight mb-3" style="margin-right:3%">
                    <div class="p-2 bd-highlight d-flex flex-column flex-center"><a href=" " ><i class="fas fa-desktop fa-5x text-hover-primary" style="color: rgb(11, 165, 11);"></i></a></div>
                    <div class="justify-content-center"><h6>COM 320</h6></div>
                </div>
                <div class="dflex flex-colum flex-center bd-highlight mb-3" style="margin-right:3%">
                    <div class="p-2 bd-highlight d-flex flex-column flex-center"><a href=" " ><i class="fas fa-desktop fa-5x text-hover-primary" style="color: rgb(11, 165, 11);"></i></a></div>
                    <div class="justify-content-center"><h6>COM 321</h6></div>
                </div>
                <div class="dflex flex-colum flex-center bd-highlight mb-3" style="margin-right:3%">
                    <div class="p-2 bd-highlight d-flex flex-column flex-center"><a href=" " ><i class="fas fa-desktop fa-5x text-hover-primary" style="color: rgb(11, 165, 11);"></i></a></div>
                    <div class="justify-content-center"><h6>COM 322</h6></div>
                </div>
                <div class="dflex flex-colum flex-center bd-highlight mb-3" style="margin-right:3%">
                    <div class="p-2 bd-highlight d-flex flex-column flex-center"><a href=" " ><i class="fas fa-desktop fa-5x text-hover-primary" style="color: rgb(11, 165, 11);"></i></a></div>
                    <div class="justify-content-center"><h6>COM 323</h6></div>
                </div>
                <div class="dflex flex-colum flex-center bd-highlight mb-3" style="margin-right:3%">
                    <div class="p-2 bd-highlight d-flex flex-column flex-center"><a href=" " ><i class="fas fa-desktop fa-5x text-hover-primary" style="color: rgb(11, 165, 11);"></i></a></div>
                    <div class="justify-content-center"><h6>COM 324</h6></div>
                </div>
                <div class="dflex flex-colum flex-center bd-highlight mb-3" style="margin-right:3%">
                    <div class="p-2 bd-highlight d-flex flex-column flex-center"><a href=" " ><i class="fas fa-desktop fa-5x text-hover-primary" style="color: rgb(11, 165, 11);"></i></a></div>
                    <div class="justify-content-center"><h6>COM 325</h6></div>
                </div>
                <div class="dflex flex-colum flex-center bd-highlight mb-3" style="margin-right:3%">
                    <div class="p-2 bd-highlight d-flex flex-column flex-center"><a href=" " ><i class="fas fa-desktop fa-5x text-hover-primary" style="color: rgb(11, 165, 11);"></i></a></div>
                    <div class="justify-content-center"><h6>COM 326</h6></div>
                </div>
                <div class="dflex flex-colum flex-center bd-highlight mb-3" style="margin-right:3%">
                    <div class="p-2 bd-highlight d-flex flex-column flex-center"><a href=" " ><i class="fas fa-desktop fa-5x text-hover-primary" style="color: rgb(11, 165, 11);"></i></a></div>
                    <div class="justify-content-center"><h6>COM 327</h6></div>
                </div>
                <div class="dflex flex-colum flex-center bd-highlight mb-3" style="margin-right:3%">
                    <div class="p-2 bd-highlight d-flex flex-column flex-center"><a href=" " ><i class="fas fa-desktop fa-5x text-hover-primary" style="color: rgb(11, 165, 11);"></i></a></div>
                    <div class="justify-content-center"><h6>COM 328</h6></div>
                </div>
                <div class="dflex flex-colum flex-center bd-highlight mb-3" style="margin-right:3%">
                    <div class="p-2 bd-highlight d-flex flex-column flex-center"><a href=" " ><i class="fas fa-desktop fa-5x text-hover-primary" style="color: rgb(11, 165, 11);"></i></a></div>
                    <div class="justify-content-center"><h6>COM 329</h6></div>
                </div>
                <div class="dflex flex-colum flex-center bd-highlight mb-3" style="margin-right:3%">
                    <div class="p-2 bd-highlight d-flex flex-column flex-center"><a href=" " ><i class="fas fa-desktop fa-5x text-hover-primary" style="color: rgb(11, 165, 11);"></i></a></div>
                    <div class="justify-content-center"><h6>COM 330</h6></div>
                </div>
                <div class="dflex flex-colum flex-center bd-highlight mb-3" style="margin-right:3%">
                    <div class="p-2 bd-highlight d-flex flex-column flex-center"><a href=" " ><i class="fas fa-desktop fa-5x text-hover-primary" style="color: rgb(11, 165, 11);"></i></a></div>
                    <div class="justify-content-center"><h6>COM 331</h6></div>
                </div>
                <div class="dflex flex-colum flex-center bd-highlight mb-3" style="margin-right:3%">
                    <div class="p-2 bd-highlight d-flex flex-column flex-center"><a href=" " ><i class="fas fa-desktop fa-5x text-hover-primary" style="color: rgb(0, 0, 0);"></i></a></div>
                    <div class="justify-content-center"><h6>COM 332</h6></div>
                </div>
                
               
             
                
               
            </div>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <div class="d-flex p-2 bd-highlight"><h2 style="color: black; font-size: 18px; font-family: Verdana, Geneva, Tahoma, sans-serif;"> Pc actualizado <i class="fas fa-desktop fa-1x text-hover-primary" style="color: rgb(11, 165, 11);"></i></h2></div>
            <div class="d-flex p-2 bd-highlight"><h2 style="color: black; font-size: 18px; font-family: Verdana, Geneva, Tahoma, sans-serif;"> Licencias proximas a vencer <i class="fas fa-desktop fa-1x text-hover-primary" style="color: rgb(209, 145, 27);"></i></h2></div>
            <div class="d-flex p-2 bd-highlight"><h2 style="color: black; font-size: 18px; font-family: Verdana, Geneva, Tahoma, sans-serif;"> Pc con licencias vencidas <i class="fas fa-desktop fa-1x text-hover-primary" style="color: rgb(165, 11, 11);"></i></h2></div>
            <div class="d-flex p-2 bd-highlight"><h2 style="color: black; font-size: 18px; font-family: Verdana, Geneva, Tahoma, sans-serif;"> Pc dañado <i class="fas fa-desktop fa-1x text-hover-primary" style="color: rgb(0, 0, 0);"></i></h2></div>

        </div>
        
    </div>
</div>




{% endblock %}

{% block scripts %}
{% endblock %}