{% extends '_partials/_base.html' %}
{% load static %}
{% block pagetitle %}Pagina en blanco{% endblock %}

{% block title %}Modulo de licencias{% endblock %}

{% block breadcumbs %}

<li class="breadcrumb-item text-muted">
    <a href="" class="text-muted">Camino</a>
</li>
<li class="breadcrumb-item text-muted">
    <a href="" class="text-muted">a</a>
</li>
<li class="breadcrumb-item text-muted">
    <a href="" class="text-muted">su pagina</a>
</li>


{% endblock %}

{% block notificaciones %}

<li class="breadcrumb-item text-muted">
    <a href="" class="text-muted">Camino</a>
</li>
<li class="breadcrumb-item text-muted">
    <a href="" class="text-muted">a</a>
</li>
<li class="breadcrumb-item text-muted">
    <a href="" class="text-muted">su pagina</a>
</li>


{% endblock %}


{% block content %}


<div class="container">
	<!--begin::Card-->
	<div class="card card-custom gutter-b">
		<div class="card-body">
			<!--begin: Datatable-->
			<table id="example" class="table table-striped table-bordered" style="width:100%">
				<thead>
					<tr>
						<th>ID</th>
						<th>Estado</th>
						<th>Fecha de creación</th>
						<th>Nombre</th>
						<th>Apellido</th>
						<th>Rut</th>
						<th>Email</th>
						<th>Asignatura</th>
						<th>Nrc</th>
						<th>Nombre del software</th>
						<th>Detalles</th>

					</tr>
				</thead>
				<tbody>
					{% for p in solicitudes %}
					<tr>
						<td>{{ p.id_request }}</td>
						<td>{% ifequal p.status 1 %}
							<p><i class="fas fa-check-circle" style="color: green;"></i> Realizada</p>
							{% else %}
							<p><i class="fas fa-times-circle" style="color: red;"> </i> No realizada</p>
							
							{% endifequal %}
						</td>
						<td>{{ p.creation_date }}</td>
						<td>{{ p.name_user }}</td>
						<td>{{ p.last_name }}</td>
						<td>{{ p.rut }}</td>
						<td>{{ p.email }}</td>
						<td>{{ p.subject }}</td>
						<td>{{ p.nrc }}</td>
						<td>{{ p.software_name }}</td>
						<td> 
							<form method="get" action="{% url 'licenses:form_info1' %}">
								{% csrf_token %}
							<button href="{%url 'licenses:form_info1' %}" value="{{ p.id_request }}" name="id_user" class="btn btn-success"> Info </button> 
							</form>
					</tr>
					{% endfor %}
					
				</tbody>
				
			</table>	
			<div class="datatable datatable-bordered datatable-head-custom" id="kt_datatable"></div>
			<!--end: Datatable-->
		</div>
	</div>
	<!--end::Card-->
	<!--begin::Modal-->
	<div class="modal fade" id="kt_datatable_records_fetch_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Selected Records</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true"></span>
					</button>
				</div>
				<div class="modal-body">
					<div class="kt-scroll" data-scroll="true" data-height="200">
						<ul id="kt_apps_user_fetch_records_selected"></ul>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<!--end::Modal-->
</div>

    

{% endblock %}

{% block scripts %}
{% endblock %}