{% extends '_partials/_base.html' %}
{% load static %}
{% block pagetitle %}Pagina en blanco{% endblock %}

{% block title %}Blanco{% endblock %}

{% block breadcumbs %}

<li class="breadcrumb-item text-muted">
    <a href="" class="text-muted">Camino</a>
</li>
<li class="breadcrumb-item text-muted">
    <a href="" class="text-muted">a</a>
</li>
<li class="breadcrumb-item text-muted">
    <a href="" class="text-muted">su pagina</a>
</li>

{% endblock %}

{% block content %}
   
<div class="container">
	<!--begin::Card-->
	<div class="card card-custom gutter-b border border-secondary">
        <div class=" col-12 text-center" style="margin-top: 3%; margin-bottom: 3%; ">
            
            <div class="col-12 border border-secondary rounded" style="margin-top: 1%; padding-bottom: 3%;">
                <h1 class="card-title font-weight-bolder text-dark-75 text-hover-primary font-size-h4 m-0 pt-7 pb-1 " >COM 301</h1>
                <div class="col-10 offset-1 border border-secondary rounded" style="margin-top: 1%; padding-bottom: 3%;">
                    <div class="col-10 offset-1 d-flex justify-content-between border border-secondary rounded" style="margin-top: 1%; padding-bottom: 3%; padding-top 3%">
                        <h1 style="margin-top: 2%;"> licencias activas</h1>
                        <ul class="list-group overflow-auto" style="margin-top: 2%; width: 60%;">
                            <li class="list-group-item">Licencia N°1</li>
                            <li class="list-group-item">Licencia N°2</li>
                            <li class="list-group-item">Licencia N°3</li>
                          </ul>
                        
                    
                    </div>
                    <div class="col-10 offset-1 d-flex justify-content-between border border-secondary rounded" style="margin-top: 1%; padding-bottom: 3%; padding-top 3%">
                        <h1 style="margin-top: 2%;"> licencias por vencer</h1>
                        <ul class="list-group overflow-auto" style="margin-top: 2%; width: 60%;">
                            <li class="list-group-item">Licencia N°1</li>
                            <li class="list-group-item">Licencia N°2</li>
                            <li class="list-group-item">Licencia N°3</li>
                          </ul>
                        
                    
                    </div>
                    <div class="col-10 offset-1 d-flex justify-content-between border border-secondary rounded" style="margin-top: 1%; padding-bottom: 3%; padding-top 3%">
                        <h1 style="margin-top: 2%;"> licencias vencidas</h1>
                        <ul class="list-group overflow-auto" style="margin-top: 2%; width: 60%;">
                            <li class="list-group-item">Licencia N°1</li>
                            <li class="list-group-item">Licencia N°2</li>
                            <li class="list-group-item">Licencia N°3</li>
                          </ul>
                        
                    
                    </div>
                </div>
               
               
             
                
               
            
            </div>
        </div>
        
        
    </div>
</div>




{% endblock %}

{% block scripts %}
{% endblock %}