
<li class="menu-section">
    <h4 class="menu-text">Modulo de licencias</h4>
    <i class="menu-icon ki ki-bold-more-hor icon-md"></i>
</li>

{% comment %} <li class="menu-item menu-item-submenu" aria-haspopup="true">
    <a href="{% url 'licenses:labs' %}" class="menu-link menu-toggle">
        <span class="svg-icon menu-icon">
            <i class="fas fa-desktop"></i>
        </span>
        <span class="menu-text">Visualizar equipos</span>
        
    </a>
</li>   

{% endcomment %}
<li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover">
    <a href="javascript:;" class="menu-link menu-toggle">
        <span class="svg-icon menu-icon">
            <i class="far fa-file-alt"></i>
        </span>
        <span class="menu-text">Formularios</span>
        <i class="menu-arrow"></i>
    </a>
    <div class="menu-submenu">
        <i class="menu-arrow"></i>
        <ul class="menu-subnav">
            <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover">
                
                <a href="{% url 'licenses:form_index' %}" class="menu-link menu-toggle">
                    <i class="menu-bullet menu-bullet-line">
                        <span></span>
                    </i>
                    <span class="menu-text">Realizar formulario</span>
                    <i class="menu-arrow"></i>
                </a>
                <a href="{% url 'licenses:forms_view' %}" class="menu-link menu-toggle">
                    <i class="menu-bullet menu-bullet-line">
                        <span></span>
                    </i>
                    <span class="menu-text">Buscar formularios</span>
                    <i class="menu-arrow"></i>
                </a>
                <a href="{% url 'licenses:form_list' %}" class="menu-link menu-toggle">
                    <i class="menu-bullet menu-bullet-line">
                        <span></span>
                    </i>
                    <span class="menu-text">Listado de formularios</span>
                    <i class="menu-arrow"></i>
                </a>
            </li>  
        </ul>
    </div>
</li>
  
<li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover">
    <a href="javascript:;" class="menu-link menu-toggle">
        <span class="svg-icon menu-icon">
            <i class="fas fa-archive"></i>
        </span>
        <span class="menu-text">Administrar licencias</span>
        <i class="menu-arrow"></i>
    </a>
    <div class="menu-submenu">
        <i class="menu-arrow"></i>
        <ul class="menu-subnav">
            <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover">
                <a href="{% url 'licenses:enter_licenses' %}" class="menu-link menu-toggle">
                    <i class="menu-bullet menu-bullet-line">
                        <span></span>
                    </i>
                    <span class="menu-text">Ingresar licencias</span>
                    
                    <i class="menu-arrow"></i>
                </a>
                <a href="{% url 'licenses:adm_licencias' %}" class="menu-link menu-toggle">
                    <i class="menu-bullet menu-bullet-line">
                        <span></span>
                    </i>
                    <span class="menu-text">Listado de licencias</span>
                    <i class="menu-arrow"></i>
                </a>
            </li>  
        </ul>
    </div>
</li>



