{% extends '_partials/_base.html' %}
{% load static %}
{% block pagetitle %}Revisiones Agendadas{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock css %}

{% block breadcumbs %}

<li class="breadcrumb-item text-muted">
    <a href="" class="text-muted">Camino</a>
</li>
<li class="breadcrumb-item text-muted">
    <a href="" class="text-muted">a</a>
</li>
<li class="breadcrumb-item text-muted">
    <a href="" class="text-muted">su pagina</a>
</li>

{% endblock %}

{% block content %}
<!-- Modal-->
<div class="modal fade" id="exampleModalLong" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agendar Revisión</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <form method="POST" onsubmit="return validate_form();">
                {% csrf_token %}
                <input type="hidden" name="user" value="{{ request.user.username }}">
            <div class="modal-body">
                {{ form.date_scheduled.label }}
            <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                {{form.date_scheduled}}
                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                  <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
              </div>
            <br>
            {{form.title.label}}
            {{form.title}}
        <br>
            {{form.room.label}}
            {{form.room}}
            
        <br> 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-success font-weight-bold">Agendar</button>
            </div>
        </form>
        </div>
    </div>
</div>
<div class="card card-custom">
    
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">Revisiones Agendadas</h3>
        </div>
        <button type="button" class="btn btn-light-primary font-weight-bold" data-toggle="modal" data-target="#exampleModalLong">
                <i class="ki ki-plus icon-md mr-2"></i>Programar Revisión</button> 
    </div>
    <div class="card-body">
        <div id="calendar"></div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/pages/features/calendar/main.js' %}"></script>
<script src="{% static 'js/pages/features/calendar/locales-all.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function(){
        var calendarUI = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarUI,{ 
            headerToolbar:{
                left: 'prev,next,today',
                center: 'title',
            },
            eventColor: '#CA0909',
            
            events: [
                {% for revision in schedule %}
                    {
                        title: "{{ revision.title }}",
                        start:'{{ revision.date_scheduled | date:"Y-m-d" }}',
                        end: '{{ revision.date_scheduled | date:"Y-m-d" }}',
                        
                    },

                {% endfor %}
            ],
            selectable: true,
                selectHelper: true,
                editable: true,
                eventLimit: true,
            schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives'
   
            
        });
        calendar.render();
        calendar.setOption('locales','es')
    });
</script>
<script>$(function () {
    $("#datetimepicker1").datetimepicker({
      format: 'MM/DD/YYYY HH:mm',
    });
  });</script>

<script type="text/javascript">
    function validate_form(){
        var room = document.getElementById("id_room").value;
        if (room == ""){
            alert("Debe seleccionar un laboratorio");
            return false;
        }
    }
</script>  

{% endblock %}