{% load static %}
{% load notifications %}
{% get_notifications request as notifs %}
<div class="topbar">
    <!--begin::Notifications-->
    <div class="dropdown">
        <!--begin::Toggle-->
        <div class="topbar-item" data-toggle="dropdown" data-offset="10px,0px">
            <div class="btn btn-icon btn-clean btn-dropdown btn-lg mr-1 pulse pulse-primary">
                <span class="svg-icon svg-icon-xl {% if notifs.has_notif == True %}svg-icon-primary{% else %} svg-icon-secondary{% endif %}">
                    <!--begin::Svg Icon | path:assets/media/svg/icons/Code/Compiling.svg-->
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <path d="M17,12 L18.5,12 C19.3284271,12 20,12.6715729 20,13.5 C20,14.3284271 19.3284271,15 18.5,15 L5.5,15 C4.67157288,15 4,14.3284271 4,13.5 C4,12.6715729 4.67157288,12 5.5,12 L7,12 L7.5582739,6.97553494 C7.80974924,4.71225688 9.72279394,3 12,3 C14.2772061,3 16.1902508,4.71225688 16.4417261,6.97553494 L17,12 Z" fill="#000000"/>
                            <rect fill="#000000" opacity="0.3" x="10" y="16" width="4" height="4" rx="2"/>
                        </g>
                    </svg>
                    <!--end::Svg Icon-->
                </span>
                {% if notifs.has_notif == True %}
                <span class="pulse-ring"></span>
                {% endif %}
            </div>
        </div>
        <!--end::Toggle-->
        <!--begin::Dropdown-->
        <div class="dropdown-menu p-0 m-0 dropdown-menu-right dropdown-menu-anim-up dropdown-menu-lg">
            <form>
                <!--begin::Header-->
                <div class="d-flex flex-column pt-12 bgi-size-cover bgi-no-repeat rounded-top" style="background-image: url({% static 'media/misc/bg-1.jpg' %})">
                    <!--begin::Title-->
                    <h4 class="d-flex flex-center rounded-top">
                        <span class="text-white">Notificaciones</span>
                        <span class="btn btn-text btn-success btn-sm font-weight-bold btn-font-md ml-2">23 new</span>
                    </h4>
                    <!--end::Title-->
                    <!--begin::Tabs-->
                    <ul class="nav nav-bold nav-tabs nav-tabs-line nav-tabs-line-3x nav-tabs-line-transparent-white nav-tabs-line-active-border-success mt-3 px-8" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active show" data-toggle="tab" href="#topbar_notifications_unread">No leídas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#topbar_notifications_read">Leídas</a>
                        </li>
                    </ul>
                    <!--end::Tabs-->
                </div>
                <!--end::Header-->
                <!--begin::Content-->
                <div class="tab-content">
                    <!--begin::Tabpane-->
                    <div class="tab-pane active show p-8" id="topbar_notifications_unread" role="tabpanel">
                        <!--begin::Scroll-->
                        <div class="scroll pr-7 mr-n7" data-scroll="true" data-height="300" data-mobile-height="200">
                            {% for n in notifs.unread %}
                            <!--begin::Item-->
                            <div class="d-flex align-items-center mb-6">
                                <!--begin::Text-->
                                <div class="d-flex flex-column font-weight-bold">
                                    <a href="#" class="text-dark text-hover-primary mb-1 font-size-lg">{{ n.date }}</a>
                                    <span class="text-muted">{{ n.message }}</span>
                                </div>
                                <!--end::Text-->
                            </div>
                            <!--end::Item-->
                            {% endfor %}
                        </div>
                        <!--end::Scroll-->
                        <!--begin::Action-->
                        <div class="d-flex flex-center pt-7">
                            <a href="#" class="btn btn-light-primary font-weight-bold text-center">See All</a>
                        </div>
                        <!--end::Action-->
                    </div>
                    <!--end::Tabpane-->
                    <!--begin::Tabpane-->
                    <div class="tab-pane p-8" id="topbar_notifications_read" role="tabpanel">
                        <!--begin::Scroll-->
                        <div class="scroll pr-7 mr-n7" data-scroll="true" data-height="300" data-mobile-height="200">
                            {% for n in notifs.read %}
                            <!--begin::Item-->
                            <div class="d-flex align-items-center mb-6">
                                <!--begin::Text-->
                                <div class="d-flex flex-column font-weight-bold">
                                    <a href="#" class="text-dark text-hover-primary mb-1 font-size-lg">{{ n.date }}</a>
                                    <span class="text-muted">{{ n.message }}</span>
                                </div>
                                <!--end::Text-->
                            </div>
                            <!--end::Item-->
                            {% endfor %}
                        </div>
                        <!--end::Scroll-->
                        <!--begin::Action-->
                        <div class="d-flex flex-center pt-7">
                            <a href="#" class="btn btn-light-primary font-weight-bold text-center">See All</a>
                        </div>
                        <!--end::Action-->
                    </div>
                    <!--end::Tabpane-->

                </div>
                <!--end::Content-->
            </form>
        </div>
        <!--end::Dropdown-->
    </div>
    <!--end::Notifications-->


    <!--begin::User-->
    <div class="topbar-item">
        <div class="btn btn-icon btn-icon-mobile w-auto btn-clean d-flex align-items-center btn-lg px-2" id="kt_quick_user_toggle">
            <span class="text-muted font-weight-bold font-size-base d-none d-md-inline mr-1">Hola,</span>
            <span class="text-dark-50 font-weight-bolder font-size-base d-none d-md-inline mr-3">{{ request.user.username }}</span>
            <span class="symbol symbol-lg-35 symbol-25 symbol-light-success">
                <span class="symbol-label font-size-h5 font-weight-bold">{{ request.user.username|make_list|first }}</span>
            </span>
        </div>
    </div>
    <!--end::User-->
    </div>