{% extends '_partials/_base.html' %}
{% load static %}
{% block pagetitle %}Reservar{% endblock %}
{% block breadcumbs %}

<li class="breadcrumb-item text-muted">
    <a href="" class="text-muted">Camino</a>
</li>
<li class="breadcrumb-item text-muted">
    <a href="" class="text-muted">a</a>
</li>
<li class="breadcrumb-item text-muted">
    <a href="" class="text-muted">su pagina</a>
</li>

{% endblock %}
{% block content %}

<body>
    <div class="card card-custom">
        <div class="card-header">
            <div class="card-title">
                <h3 class="card-label">{{ room.campus }} - {{ room.room_name }}</h3>
            </div>
            <div class="card-toolbar">
                <a href="{% url 'reserve_room' %}" class="btn btn-light-primary font-weight-bold" id="timeGridWeek">
                    <i class="ki ki-plus icon-md mr-2"></i>Crear solicitud</a>
            </div>
        </div>
        <div class="card-body">
            <div id="kt_calendar" class="fc fc-ltr fc-unthemed">
                
            </div>
        </div>
    </div>
</body>
{% endblock %}
{% block scripts %}
<link href="{%static 'plugins/custom/fullcalendar/fullcalendar.bundle.css'%}" rel="stylesheet" type="text/css" />
<script src="{%static 'plugins/custom/fullcalendar/fullcalendar.bundle.js'%}"></script>
<script>
    var KTCalendarBasic = function() {

return {
    //main function to initiate the module
    init: function() {
        var calendarEl = document.getElementById('kt_calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: [ 'bootstrap', 'interaction', 'dayGrid', 'timeGrid', 'list' ],
            themeSystem: 'bootstrap',

            isRTL: KTUtil.isRTL(),

            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'timeGridWeek,timeGridDay'
            },

            height: 1800,
            contentHeight: 'auto',
            aspectRatio: 3,  // see: https://fullcalendar.io/docs/aspectRatio

            views: {
            },
            minTime: '7:00',
            maxTime: '23:59',
            expandRows: 'true',
            defaultView: 'timeGridWeek',
            titleFormat: {
                month: 'long',
                year: 'numeric',
                day: 'numeric',
                locale: 'es',
                timeZone: 'locale',
            },

            firstDay:1,
            editable: false,
            eventLimit: true, // allow "more" link when too many events
            navLinks: true,
            events: [
                {% for rp in roompetition %}
                {% for me in modulevent %}
                {% if me.module.start_module == rp.time_start_petition %}
                {
                    title: '{{me.event.name_event}}',
                    start: '{{me.day.year}}-{{me.day.month}}-{{me.day.day}} {{rp.time_start_petition}}',
                    end: '{{me.day.year}}-{{me.day.month}}-{{me.day.day}} {{rp.time_finish_petition}}',
                    description: '{{ rp.email_petition }} {{ rp.memo_petition }} Computadores: {{ rp.computer_petition }}',
                    className: "fc-event-solid-info fc-event-light",
                    
                },
                {% endif %}
                {% endfor %}
                {% endfor %}
            ],
            displayEventTime: false,

            eventRender: function(info) {
                var element = $(info.el);

                if (info.event.extendedProps && info.event.extendedProps.description) {
                    if (element.hasClass('fc-day-grid-event')) {
                        element.data('content', info.event.extendedProps.description);
                        element.data('placement', 'top');
                        KTApp.initPopover(element);
                    } else if (element.hasClass('fc-time-grid-event')) {
                        element.find('.fc-title').append('<div class="fc-description">' + info.event.extendedProps.description + '</div>');
                    } else if (element.find('.fc-list-item-title').lenght !== 0) {
                        element.find('.fc-list-item-title').append('<div class="fc-description">' + info.event.extendedProps.description + '</div>');
                    }
                }
            }
        });

        calendar.render();
    }
};
}();

jQuery(document).ready(function() {
KTCalendarBasic.init();
});
</script>
{% endblock %}