{% extends '_partials/_base.html' %}
{% load static %}
{% block pagetitle %}Pagina en blanco{% endblock %}
{% block breadcumbs %}

<li class="breadcrumb-item text-muted">
    <a href="" class="text-muted">Camino</a>
</li>
<li class="breadcrumb-item text-muted">
    <a href="" class="text-muted">a</a>
</li>
<li class="breadcrumb-item text-muted">
    <a href="" class="text-muted">su pagina</a>
</li>

{% endblock %}
{% block content %}

<div class="row">
    <div class="col-lg-5">
            <div class="card card-custom card-stretch gutter-b">
                <div class="card-header border-0">
                    <h1 class="card-title font-weight-bolder text-dark py-2">Peticiones</h1>
                    <input type="text" class="form-control datatable-input" id="name_lab" onkeyup="Name()" placeholder="Nombre">
                    <div class="card-toolbar col-lg-12">
                        <ul class="nav nav-tabs nav-bold nav-tabs-line">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" role="tab" href="#first-tab" aria-selected="false">
                                    <span class="nav-icon"><i class="flaticon2-chat-1"></i></span>
                                    <span class="nav-text">Pendientes</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" role="tab"href="#third-tab" aria-selected="false">
                                    <span class="nav-icon"><i class="flaticon2-chat-1"></i></span>
                                    <span class="nav-text">Aceptadas</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" role="tab" href="#second-tab" aria-selected="false">
                                    <span class="nav-icon"><i class="flaticon2-chat-1"></i></span>
                                    <span class="nav-text">Rechazadas</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tab-content card-scroll" id="pills" style="height: 480px;">
                    <div class="tab-pane fade active show" id="first-tab" role="tabpanel">
                        <div class="flex-column card-stretch gutter-b">
                            <ul class="nav flex-column nav-warning nav-pills nav-fill" role="tablist">
                                {% for rp in roompetition %}
                                {% if rp.status_petition == "P" %}
                                <li class="nav-item">
                                    <div class="nav-link d-flex text-left" data-toggle="tab" role="tab" aria-selected="false" href="#href{{rp.id}}" id="id{{rp.id}}">
                                        <span class="bullet bullet-bar bg-warning align-self-stretch"></span>
                                        <div class="d-flex flex-column flex-grow-1 flex-shrink-0 m-0 mx-2"><h4>{{ rp.name_petition }}</h4>
                                            <div class="text-dark font-weight-bold mx-4">{{rp.room_petition }}</div>
                                        </div>
                                    </div>
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="third-tab" role="tabpanel">
                        <div class="flex-column card-stretch gutter-b">
                            <ul class="nav flex-column nav-success nav-pills nav-fill" role="tablist">
                                {% for rp in roompetition %}
                                {% if rp.status_petition == "A" %}
                                <li class="nav-item">
                                    <div class="nav-link d-flex text-left" data-toggle="tab" role="tab" aria-selected="false" href="#href{{rp.id}}" id="id{{rp.id}}">
                                        <span class="bullet bullet-bar bg-success align-self-stretch"></span>
                                        <div class="d-flex flex-column flex-grow-1 flex-shrink-0 m-0 mx-2"><h4>{{ rp.name_petition }}</h4>
                                            <div class="text-dark font-weight-bold mx-4">{{rp.room_petition }}</div>
                                        </div>
                                    </div>
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="second-tab" role="tabpanel">
                        <div class="flex-column card-stretch gutter-b">
                            <ul class="nav flex-column nav-danger nav-pills nav-fill" role="tablist">
                                {% for rp in roompetition %}
                                {% if rp.status_petition == "R" %}
                                <li class="nav-item">
                                    <div class="nav-link d-flex text-left" data-toggle="tab" role="tab" aria-selected="false" href="#href{{rp.id}}" id="id{{rp.id}}">
                                        <span class="bullet bullet-bar bg-danger align-self-stretch"></span>
                                        <div class="d-flex flex-column flex-grow-1 flex-shrink-0 m-0 mx-2"><h4>{{ rp.name_petition }}</h4>
                                            <div class="text-dark font-weight-bold mx-4">{{rp.room_petition }}</div>
                                        </div>
                                    </div>
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="col-lg-6">
            <div class="tab-content">
                {% for rp in roompetition %}
                <div class="tab-pane" role="tabpanel" id="href{{rp.id}}" aria-labelledby="id{{rp.id}}">
                    <div class="card card-custom card-stretch gutter-b">
                        <div class="card-body">
                            <div class="d-flex justify-content-between flex-column pt-4 h-100">
                                {% if rp.status_petition == "P" %}
                                <div class="d-flex bg-light-warning rounded-xl flex-column flex-center py-2">
                                {% elif rp.status_petition == "A" %}
                                <div class="d-flex bg-light-success rounded-xl flex-column flex-center py-2">
                                {% elif rp.status_petition == "R" %}
                                <div class="d-flex bg-light-danger rounded-xl flex-column flex-center py-2">
                                {% endif %}
                                    <a class="card-title font-weight-bolder text-dark-75 text-hover-primary font-size-h2 m-0 pt-5">{{ rp.name_petition }}</a>
                                    <div class="font-weight-bold text-dark-50 font-size-lg pb-2">{{ rp.email_petition }}</div>
                                    <div class="text-dark-50 font-size-sm pb-2">Dia de la peticion: {{rp.datetime_petition}}</div>
                                    <div class="font-weight-bold text-dark-50 font-size-lg pb-4">Mensaje: {{rp.memo_petition}}</div>
                                </div>
                                <div class="row pt-5">
                                    <div class="col-lg-6">
                                        <div class="d-flex flex-column flex-grow-1">
                                            <div class="d-flex align-items-center pb-5">
                                                <div class="symbol symbol-45 symbol-light mr-2">
                                                    <span class="nav-icon input-group-text"><i class="flaticon2-map"></i></span>
                                                </div>
                                                <div class="d-flex flex-column flex-grow-1">
                                                    <a class="text-muted text-hover-primary font-size-sm font-weight-bolder">Sede:</a>
                                                    <span class="text-dark-75 font-size-lg font-weight-bolder">{{ rp.room_petition.campus }}</span>
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center pb-5">
                                                <div class="symbol symbol-45 symbol-light mr-2">
                                                    <span class="nav-icon input-group-text"><i class="flaticon2-search"></i></span>
                                                </div>
                                                <div class="d-flex flex-column flex-grow-1">
                                                    <a class="text-muted text-hover-primary font-size-sm font-weight-bolder">Laboratorio:</a>
                                                    <span class="text-dark-75 font-size-lg font-weight-bolder">{{ rp.room_petition.room_name }}</span>
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center pb-5">
                                                <div class="symbol symbol-45 symbol-light mr-2">
                                                    <span class="nav-icon input-group-text"><i class="flaticon-download-1"></i></span>
                                                </div>
                                                <div class="d-flex flex-column flex-grow-1">
                                                    <a class="text-muted text-hover-primary font-size-sm font-weight-bolder">Cantidad de PCs</a>
                                                    <span class="text-dark-75 font-size-lg font-weight-bolder">{{ rp.computer_petition }}</span>
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center pb-5">
                                                <div class="symbol symbol-45 symbol-light mr-2">
                                                    <span class="nav-icon input-group-text"><i class="flaticon-download-1"></i></span>
                                                </div>
                                                <div class="d-flex flex-column flex-grow-1">
                                                    <a class="text-muted text-hover-primary font-size-sm font-weight-bolder">Cantidad de PCs</a>
                                                    <span class="text-dark-75 font-size-lg font-weight-bolder">{{ rp.computer_petition }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="d-flex flex-column flex-grow-1">
                                            <div class="d-flex align-items-center pb-5">
                                                <div class="symbol symbol-45 symbol-light mr-2">
                                                    <span class="nav-icon input-group-text"><i class="flaticon2-browser"></i></span>
                                                </div>
                                                <div class="d-flex flex-column flex-grow-1">
                                                    <a class="text-muted text-hover-primary font-size-sm font-weight-bolder">Tipo de evento:</a>
                                                    <span class="text-dark-75 font-size-lg font-weight-bolder">{{ rp.get_type_petition_display }}</span>
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center pb-5">
                                                <div class="symbol symbol-45 symbol-light mr-2">
                                                    <span class="nav-icon input-group-text"><i class="flaticon2-calendar-1"></i></span>
                                                </div>
                                                <div class="d-flex flex-column flex-grow-1">
                                                    <a class="text-muted text-hover-primary font-size-sm font-weight-bolder">Dia Inicio:</a>
                                                    <span class="text-dark-75 font-size-lg font-weight-bolder">{{ rp.date_start_petition }}</span>
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center pb-5">
                                                <div class="symbol symbol-45 symbol-light mr-2">
                                                    <span class="nav-icon input-group-text"><i class="flaticon2-calendar-1"></i></span>
                                                </div>
                                                <div class="d-flex flex-column flex-grow-1">
                                                    <a class="text-muted text-hover-primary font-size-sm font-weight-bolder">Dia Final:</a>
                                                    <span class="text-dark-75 font-size-lg font-weight-bolder">{{ rp.date_finish_petition }}</span>
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center pb-5">
                                                <div class="symbol symbol-45 symbol-light mr-2">
                                                    <span class="nav-icon input-group-text"><i class="flaticon-download-1"></i></span>
                                                </div>
                                                <div class="d-flex flex-column flex-grow-1">
                                                    <a class="text-muted text-hover-primary font-size-sm font-weight-bolder">Cantidad de PCs</a>
                                                    <span class="text-dark-75 font-size-lg font-weight-bolder">{{ rp.computer_petition }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex flex-column flex-grow-1">
                                    <a class="text-muted text-hover-primary font-size-sm font-weight-bolder">Dias y horas:</a>
                                </div>
                                <div class="d-flex align-items-center pb-5">
                                    <span class="bullet bullet-bar bg-primary align-self-stretch"></span>
                                    {% if rp.recurrence_petition == '01' %}
                                    <span class="text-dark-75 font-size-lg font-weight-bolder pt-1 mx-2">Todos los días de {{ rp.time_start_petition }} a {{ rp.time_finish_petition }}</span>
                                    {% elif rp.recurrence_petition == '07' %}
                                    <span class="text-dark-75 font-size-lg font-weight-bolder pt-1 mx-2">Semanalmente los días {{ rp.get_day_petition_display }} de {{ rp.time_start_petition }} a {{ rp.time_finish_petition }}</span>
                                    {% elif rp.recurrence_petition == '28' %}
                                    <span class="text-dark-75 font-size-lg font-weight-bolder pt-1 mx-2">Mensualmente los días {{ rp.get_day_petition_display }} de {{ rp.time_start_petition }} a {{ rp.time_finish_petition }}</span>
                                    {% endif %}
                                </div>
                                <div class="row pt-4">
                                    <div class="ml-lg-auto">
                                        <a href="{% url 'manage_request_id' rp.id %}" class="btn btn-light-success font-weight-bold">Modificar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script src="{%static 'js/pages/crud/forms/widgets/engage_code.js'%}"></script>
<script>
    $("#first-tab").click(function(){
        $(".nav-link").removeClass("active");
    });
    $("#second-tab").click(function(){
        $(".nav-link").removeClass("active");
    });
    $("#third-tab").click(function(){
        $(".nav-link").removeClass("active");
    });
</script>
<script>
    function Name() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("name_lab");
        filter = input.value.toUpperCase();
        table = document.getElementById("pills");
        tr = table.getElementsByTagName("li");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("h4")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
{% endblock %}