{% extends '_partials/_base.html' %}
{% load static %}
{% block pagetitle %}Reservar{% endblock %}
{% block breadcumbs %}

<li class="breadcrumb-item text-muted">
    <a href="" class="text-muted">Camino</a>
</li>
<li class="breadcrumb-item text-muted">
    <a href="" class="text-muted">a</a>
</li>
<li class="breadcrumb-item text-muted">
    <a href="" class="text-muted">su pagina</a>
</li>

{% endblock %}
{% block content %}

<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <a href="{% url 'manage_request' %}" class="btn btn-icon btn-light mb-0">
                <i class="flaticon2-back"></i>
            </a>
            <h1 class="mb-0">Administrar petición</h1>
        </div>
    </div>
    <div class="card-body">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h4>{{roompetition.name_petition}}</h4>
            <div class="card-footer">
                <div class="form-group row">
                    <div class="col-lg-2">
                        {{ formlab }}
                    </div>
                    <div class="col-lg-10">
                        <div class="login-actions text-right">
                            <button type="submit" class="btn btn-light-success btn-lg font-weight-bold" id="kt_sweetalert_demo_3_3">Enviar</button>
                            <button type="reset" class="btn btn-light-danger btn-lg font-weight-bold">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script src="{%static 'js/pages/crud/forms/widgets/engage_code.js'%}"></script>
<script src="{%static 'js/pages/crud/forms/widgets/bootstrap-timepicker.js'%}"></script>
<script src="{%static 'js/pages/crud/forms/widgets/bootstrap-datepicker.js'%}"></script>
<script src="{%static 'js/pages/crud/forms/widgets/bootstrap-sweetalert2.js'%}"></script>
{% endblock %}