{% extends '_partials/_base.html' %} {% load static %} {% block pagetitle %}Pagina en blanco{% endblock %} {% block breadcumbs %}

<li class="breadcrumb-item text-muted">
	<a href="" class="text-muted">Horarios</a>
</li>
<li class="breadcrumb-item text-muted">
	<a href="" class="text-muted">Salas</a>
</li>

{% endblock %} {% block content %}
<div class="card card-custom gutter-b">
	<div class="card-header">
		<div class="card-title">
			<h1>Gráficos de las reservas en el año {{selectdate}}</h1>
		</div>
		<div class="card-toolbar pt-4">
			<form action="{% url 'report_data' %}" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="form-group row">
					<div class="col-lg-9">
						<div class="input-group">
							<input
								type="text"
								name="selecteddate"
								class="form-control"
								id="datepicker_report"
								data-date-format="yyyy"
								value="{{selectdate}}"
							/>
							<div class="input-group-append">
								<span class="input-group-text">
									<i class="la la-calendar"></i>
								</span>
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<button type="submit" class="btn btn-light-primary font-weight-bold mb-0" name="date_filter">Submit</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-7">
		<div class="card card-custom gutter-b">
			<div class="card-header">
				<div class="card-title">
					<h2>Información</h2>
				</div>
			</div>
			<div class="card-body">
				
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="card card-custom gutter-b">
			<div class="card-header">
				<div class="card-title">
					<h2>Módulos reservados al mes</h2>
				</div>
			</div>
			<div class="card-body" id="chart_donut_year"></div>
		</div>
	</div>
</div>

{% endblock %} {% block scripts %}
<script>
	var KTBootstrapDatepicker = function () {
		var arrows;
		if (KTUtil.isRTL()) {
			arrows = {
				leftArrow: '<i class="la la-angle-right"></i>',
				rightArrow: '<i class="la la-angle-left"></i>'
			}
		} else {
			arrows = {
				leftArrow: '<i class="la la-angle-left"></i>',
				rightArrow: '<i class="la la-angle-right"></i>'
			}
		}
		
		var picker = function () {
			$('#datepicker_report').datepicker({
				rtl: KTUtil.isRTL(),
				lenguage: "es",
				format: "yyyy",
    			minViewMode: 2,
				autoclose: true,
				orientation: "bottom left",
				templates: arrows
			});
		}
		return {
			init: function() {
				picker(); 
			}
		};
	}();
	jQuery(document).ready(function() {    
		KTBootstrapDatepicker.init();
	});
</script>
<script>
	const color = ["#6495ED", "#FF1493", "#1BA39C", "#228B22", "#8B008B", "#B22222", "#1E90FF", "#DAA520", "#2F4F4F", "#FF8C00", "#A52A2A", "#000080"];
	const primary = '#000080';
	const label = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"];
	const series_list = [0,0,0,0,0,0,0,0,0,0,0,0];
	generateData();
	function generateData() {
		{% for me in modulevent %}
		if({{me.day.month}} == '01'){
			series_list[0]++;
		} else if({{me.day.month}} == '02'){
			series_list[1]++;
		} else if({{me.day.month}} == '03'){
			series_list[2]++;
		} else if({{me.day.month}} == '04'){
			series_list[3]++;
		} else if({{me.day.month}} == '05'){
			series_list[4]++;
		} else if({{me.day.month}} == '06'){
			series_list[5]++;
		} else if({{me.day.month}} == '07'){
			series_list[6]++;
		} else if({{me.day.month}} == '08'){
			series_list[7]++;
		} else if({{me.day.month}} == '09'){
			series_list[8]++;
		} else if({{me.day.month}} == '10'){
			series_list[9]++;
		} else if({{me.day.month}} == '11'){
			series_list[10]++;
		} else if({{me.day.month}} == '12'){
			series_list[11]++;
		}
		{% endfor %}
		return series_list;
	}
	var KTApexChartsDemo = (function () {
		var _chartpie_year = function () {
			const apexChart = "#chart_donut_year";
			var options = {
				series: series_list,
				chart: {
					width: 480,
					type: "donut",
				},
				labels: label,
				responsive: [
					{
						breakpoint: 480,
						options: {
							chart: {
								width: 200,
							},
							legend: {
								position: "bottom",
							},
						},
					},
				],
				plotOptions: {
					pie: {
						donut: {
							labels: {
								show: true,
								name: {
								},
								value: {
								}
							}
						}
					}
				},
				colors: color,
			};

			var chart = new ApexCharts(document.querySelector(apexChart), options);
			chart.render();
		};
		return {
			// public functions
			init: function () {
				_chartpie_year();
			},
		};
	})();
	jQuery(document).ready(function () {
		KTApexChartsDemo.init();
	});
</script>
<script src="{%static 'js/pages/features/charts/apexcharts.js'%}"></script>
<script src="{%static 'js/pages/crud/forms/widgets/engage_code.js'%}"></script>
<script src="{%static 'js/pages/crud/datatables/advanced/column-rendering.js'%}"></script>
<script src="{%static 'js/pages/crud/forms/widgets/bootstrap-datepicker.js'%}"></script>
{% endblock %}
